<script>
$(document).ready(function(){
 $("#frmEdit").validate();
 

$("#ano").mask("9999");
});
 
</script>

<section>
  <h1>Edita Grupo</h1>
  <form class="form-horizontal" id="frmEdit" method="post" action="cadastro.grupoResponse.php" enctype="multipart/form-data">
    <fieldset>
    <legend>Pacote Principal</legend>
    <div class="control-group">
      <label for="cpf" class="control-label">Nome:</label>
      <div class="controls">
        <input type="text" id="nomePacote" class="input-xlarge required span6" name="nomePacote" value="{nomePacote}" placeholder="Nome do Pacote">
      </div>
    </div>
    <div class="row">
    <div class="span4">
    <div class="control-group">
      <label for="cpf" class="control-label">Ano:</label>
      <div class="controls">
        <input type="text" id="ano" class="input-xlarge required span2" name="ano" value="{ano}" placeholder="Ano">
      </div>
    </div>
    </div>
    <div class="span4">
    <div class="control-group">
      <label for="dataEmbarque" class="control-label">Data do Embarque:</label>
      <div class="controls">
        <input type="text" name="dataEmbarque" id="dataEmbarque" data-datepicker="datepicker" placeholder="Data de Embarque" class="span2 required" value="{dataEmbarque}">
      </div>
    </div>
    </div>
    <div class="span3">
    <div class="control-group">
      <label for="dataChegada" class="control-label">Data de Chegada:</label>  
	  <div class="controls">
         <input type="text" name="dataChegada" id="dataChegada" data-datepicker="datepicker" placeholder="Data de Chegada" class="span2 required" value="{dataChegada}">
		</div>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="span4">
    <div class="control-group">
      <label for="moeda" class="control-label">Moeda:</label>
      <div class="controls">
        <select id="moeda" name="moeda" class="span2 required">
          <option value="">Moeda</option>
          <!-- BEGIN BLOCK_MOEDA -->
          <option value="{ID_MOEDA}" {SELECTED_MOEDA}>{LABEL_MOEDA}</option>
          <!-- END BLOCK_MOEDA -->
        </select>
      </div>
    </div>
    </div>
    <div class="span4">
    <div class="control-group">
      <label for="status" class="control-label">Status:</label>
      <div class="controls">
        <select id="status" name="status" class="span2 required">
          <option value="">Status</option>
          <!-- BEGIN BLOCK_STATUS -->
          <option value="{ID_STATUS}" {SELECTED_STATUS}>{LABEL_STATUS}</option>
          <!-- END BLOCK_STATUS -->
        </select>
      </div>
    </div>
    </div>
	<div class="span3">
    <div class="control-group">
      <label for="status" class="control-label">Modelo de Contrato:</label>
      <div class="controls">
        <select id="modeloContrato" name="modeloContrato" class="span2 required">
          <option value="">Modelo</option>         
          <option value="contrato1.php" {SELECTED_MODELO1}>Contrato Internacional</option>
          <option value="contrato2.php" {SELECTED_MODELO2}>Contrato Nacional</option>
          <option value="contrato3.php" {SELECTED_MODELO3}>GRUPO JMJ 16</option>
          <option value="contrato4.php" {SELECTED_MODELO4}>CANÇÃO NOVA</option>
        </select>
      </div>
    </div>
    </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="control-group">
          <label for="valorPacote" class="control-label">Valor do Pacote:</label>
          <div class="controls">
            <input type="text" id="valorPacote" class="input-xlarge span2 required" name="valorPacote" value="{valorPacote}" placeholder="Valor do Pacote" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
            &nbsp; </div>
        </div>
      </div>
      <div class="span4">
        <div class="control-group">
          <label for="valorTaxaEmbarque" class="control-label">Taxa de Embarque:</label>
          <div class="controls">
            <input type="text" id="valorTaxaEmbarque" class="input-xlarge span2 required" name="valorTaxaEmbarque" value="{valorTaxaEmbarque}" placeholder="Taxa de Embarque" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
          </div>
        </div>
      </div>
      <div class="span3">
    <div class="control-group">
      <label for="status" class="control-label">Modelo de Ficha:</label>
      <div class="controls">
        <select id="modeloFicha" name="modeloFicha" class="span2 required">
          <option value="">Modelo de Ficha</option>         
          <option value="fichaInscricao.php" {SELECTED_MODELO_FICHA1}>Normal</option>
          <option value="fichaInscricaoJMJ16.php" {SELECTED_MODELO_FICHA2}>Grupo JMJ16</option>
          
        </select>
      </div>
    </div>
    </div>
    </div>
	  <div class="row">
      <div class="span4">
    <div class="control-group">
      <label for="valorAdesao" class="control-label">Valor da Adesão:</label>
      <div class="controls">
        <input type="text" id="valorAdesao" class="input-xlarge span2 required" name="valorAdesao" value="{valorAdesao}" placeholder="Valor da Adesão" onKeyPress="return(MascaraMoeda(this,'.',',',event))">       
      </div>
    </div>
	</div>
	 <div class="span4">
	  <div class="control-group">
      <label for="valorCusto" class="control-label">Custo por Cliente:</label>  
	  <div class="controls">
        <input type="text" id="valorCusto" class="input-xlarge span2 required" name="valorCusto" value="{valorCusto}" placeholder="Custo" onKeyPress="return(MascaraMoeda(this,'.',',',event))">       
		</div>
      </div>
    </div>
    <div class="span3">
    <div class="control-group">
      <label for="cotacaoCusto" class="control-label">Cambio de Custo:</label>  
	  <div class="controls">
        <input type="text" id="cotacaoCusto" class="input-xlarge required span1" name="cotacaoCusto" value="{cotacaoCusto}" placeholder="Custo" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
		</div>
      </div>
    </div>
	 </div>
   <div class="row">
     <div class="span8">
    <div class="control-group">
      <label for="plano" class="control-label">Plano do Seguro:</label>
      <div class="controls">
        <input type="text" name="plano" id="plano" class="input-xlarge span6" value="{plano}" />
      </div>
    </div>
    </div>
    <div class="span3">
      <div class="control-group">
        <label for="cotacaoAVista" class="control-label">Cambio à vista:</label>  
      <div class="controls">
          <input type="text" id="cotacaoAVista" class="input-xlarge required span1" name="cotacaoAVista" value="{cotacaoAVista}" placeholder="Cotação à vista" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
      </div>
        </div>
      </div>
   </div>
<div class="row">
   <div class="span8">
     <div class="control-group">
      <label for="destino" class="control-label">Destino do Seguro:</label>
      <div class="controls">
        <input type="text" name="destino" id="destino" class="input-xlarge span6" value="{destino}"/>
        <br />
        <a href="docs/{pautaAnexo}" target="_blank">{pautaAnexo}</a> </div>
    </div>
   </div>
   <div class="span3">
    <div class="control-group">
      <label for="cotacaoEntrada" class="control-label">Cambio com Entrada:</label>  
    <div class="controls">
        <input type="text" id="cotacaoEntrada" class="input-xlarge required span1" name="cotacaoEntrada" value="{cotacaoEntrada}" placeholder="Cotação com Entrada" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
    </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="span4">
    <div class="control-group">
      <label for="roteiro" class="control-label">Roteiro:</label>
      <div class="controls">
        <input type="file" name="roteiro" id="roteiro" />
        <br />
         <a href="docs/{roteiroAnexo}" target="_blank">{roteiroAnexo}</a> </div>
    </div>
  </div>
  <div class="span4">
    <div class="control-group">
      <label for="descontoAVista" class="control-label">Desconto à Vista:</label>
      <div class="controls">
        <input value="{DESCONTO}" type="number" class="required span2 input-xlarge" name="descontoAVista" id="descontoAVista" />
        <br />
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="control-group">
      <label for="cotacaoParcelado" class="control-label">Cambio Parcelado:</label>  
    <div class="controls">
        <input type="text" id="cotacaoParcelado" class="input-xlarge required span1" name="cotacaoParcelado" value="{cotacaoParcelado}" placeholder="Cotação parcelado" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
    </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
     <div class="control-group">
      <label for="pauta" class="control-label">Pauta de Reunião:</label>
      <div class="controls">
        <input type="file" name="pauta" id="pauta" />
        <br />
        <a href="docs/{pautaAnexo}" target="_blank">{pautaAnexo}</a> </div>
    </div>
    </div>
    <div class="span4">
      <div class="control-group">
       <label for="pauta" class="control-label">Imagem Destaque:</label>
       <div class="controls">
         <input type="file" name="destaque" id="destaque" />
         <br />
         <img src="img/grupos/{imagemDestaque}" height="20"/>
          </div>
     </div>
     </div>
     <div class="span3">
      <div class="control-group">
        <label for="cotacaoCustomizado" class="control-label">Cambio Customizado:</label>  
      <div class="controls">
          <input type="text" id="cotacaoCustomizado" class="input-xlarge span1" name="cotacaoCustomizado" value="{cotacaoCustomizado}" placeholder="Cotação parcelado" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
      </div>
        </div>
      </div>
  </div>
    <div class="accordion" id="accordion">
      <div class="accordion-group">
        <div class="accordion-heading"> 
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Pacote Opcional </a> 
          
        </div>
        <div id="collapseOne" class="accordion collapse" style="height: 0; ">
          <div class="accordion-inner">
            <div class="control-group">
              <label for="cpf" class="control-label">Nome:</label>
              <div class="controls">
                <input type="text" id="nomePacoteOpcional" class="input-xlarge span6" name="nomePacoteOpcional" value="{nomePacoteOpcional}" placeholder="Nome do Pacote">
              </div>
            </div>
			 <div class="row">
      <div class="span4">
            <div class="control-group">
              <label for="valorPacoteOpcional" class="control-label">Valor do Pacote:</label>
              <div class="controls">
                <input type="text" id="valorPacoteOpcional" class="input-xlarge span2" name="valorPacoteOpcional" value="{valorPacoteOpcional}" placeholder="Valor do Pacote" onKeyPress="return(MascaraMoeda(this,'.',',',event))">               
              </div>
            </div>
			</div>
			<div class="span7">
			<div class="control-group">
              <label for="valorTaxaEmbarqueOpcional" class="control-label">Taxa de Embarque:</label>
              <div class="controls">
                <input type="text" id="valorTaxaEmbarqueOpcional" class="input-xlarge span2 " name="valorTaxaEmbarqueOpcional" value="{valorTaxaEmbarqueOpcional}" placeholder="Taxa de Embarque" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
              </div>
            </div>
			
			</div>
			</div>
			
			<div class="row">
		      <div class="span4">
			  <div class="control-group">
              <label for="valorAdesaoOpcional" class="control-label">Valor da Adesão:</label>
              <div class="controls">
                <input type="text" id="valorAdesaoOpcional" class="input-xlarge span2" name="valorAdesaoOpcional" value="{valorAdesaoOpcional}" placeholder="Valor da Adesão" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                   </div>
            </div>
			  </div>
			<div class="span7">			
            <div class="control-group">
              <label for="valorCustoOpcional" class="control-label">Custo:</label>
              <div class="controls">                
                <input type="text" id="valorCustoOpcional" class="input-xlarge span2" name="valorCustoOpcional" value="{valorCustoOpcional}" placeholder="Custo" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
              </div>
            </div>
			</div>
			</div>
          </div>
        </div>
        
      </div>
      <div class="accordion-group">
        <div class="accordion-heading"> 
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Forma de Pagamento </a> 
        </div>
        <div id="collapseTwo" class="accordion collapse" style="height: 0; ">
          <div class="accordion-inner">
            <h4>Transferência</h4>
            <div class="row">
              <div class="span6">
                <div class="control-group">
                  <label for="bitBoleto" class="control-label">Ativar:</label>
                  <div class="controls">
                    <input type="radio" name="bitTransferencia" id="bitBoletoSim" value="1" {bitTransferenciaSim} class="required"> Sim 
                    <input type="radio" name="bitTransferencia" id="bitBoletoNao" value="0" {bitTransferenciaNao} class="required"> Não
                  </div>
                </div>
              </div>
              
            </div>
            <hr/>
                <h4>Boleto</h4>
                <div class="row">
                  <div class="span5">
                    <div class="control-group">
                      <label for="bitBoleto" class="control-label">Ativar:</label>
                      <div class="controls">
                        <input type="radio" name="bitBoleto" id="bitBoletoSim" value="1" {bitBoletoSim} class="required"> Sim 
                        <input type="radio" name="bitBoleto" id="bitBoletoNao" value="0" {bitBoletoNao} class="required"> Não
                      </div>
                    </div>
                  </div>
                  <div class="span6">			
                    <div class="control-group">
                      <label for="parcelaBoleto" class="control-label">Parcela Máxima:</label>
                      <div class="controls">                
                        <input type="number" id="parcelaBoleto" class="input-xlarge" name="parcelaBoleto" value="{parcelaBoleto}" placeholder="Máximo de parcelas">
                      </div>
                    </div>
              </div>
                </div>
                <hr/>
                <h4>Cartão</h4>
                <div class="row">
                  <div class="span5">
                    <div class="control-group">
                      <label for="bitCartao" class="control-label">Ativar:</label>
                      <div class="controls">
                        <input type="radio" name="bitCartao" id="bitCartaoSim" value="1" {bitCartaoSim} class="required"> Sim 
                        <input type="radio" name="bitCartao" id="bitCartaoNao" value="0" {bitCartaoNao} class="required"> Não
                      </div>
                    </div>
                  </div>
                  <div class="span6">			
                    <div class="control-group">
                      <label for="parcelaCartao" class="control-label">Parcela Máxima:</label>
                      <div class="controls">                
                        <input type="number" id="parcelaCartao" class="input-xlarge" name="parcelaCartao" value="{parcelaCartao}" placeholder="Máximo de parcelas">
                      </div>
                    </div>
                  </div>
                </div>
                <hr/>
                <h4>Cheque</h4>
                <div class="row">
                  <div class="span5">
                    <div class="control-group">
                      <label for="bitCheque" class="control-label">Ativar:</label>
                      <div class="controls">
                        <input type="radio" name="bitCheque" id="bitChequeSim" value="1" {bitChequeSim} class="required"> Sim 
                        <input type="radio" name="bitCheque" id="bitChequeNao" value="0" {bitChequeNao} class="required"> Não
                      </div>
                    </div>
                  </div>
                  <div class="span6">			
                    <div class="control-group">
                      <label for="parcelaCheque" class="control-label">Parcela Máxima:</label>
                      <div class="controls">                
                        <input type="number" id="parcelaCheque" class="input-xlarge" name="parcelaCheque" value="{parcelaCheque}" placeholder="Máximo de parcelas">
                      </div>
                    </div>
                  </div>
                </div>
                <hr/>
                <h4>Customizado</h4>
                <div class="row">
                  <div class="span5">
                    <div class="control-group">
                      <label for="bitCustomizado" class="control-label">Ativar:</label>
                      <div class="controls">
                        <input type="radio" name="bitCustomizado" id="bitCustomizadoSim" value="1" {bitCustomizadoSim} class="required"> Sim 
                        <input type="radio" name="bitCustomizado" id="bitCustomizadoNao" value="0" {bitCustomizadoNao} class="required"> Não
                      </div>
                    </div>
                  </div>
                  
                  <div class="span6">			
                    <div class="control-group">
                      <label for="nomeCustomizado" class="control-label">Nome:</label>
                      <div class="controls">                
                        <input type="text" id="nomeCustomizado" class="input-xlarge" name="nomeCustomizado" value="{nomeCustomizado}" placeholder="Nome da forma  de pagamento">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span11">
                    <div class="controls">                
                      <textarea rows="10" id="textCustomizado" class="ckeditor span8" name="textCustomizado">{textCustomizado}</textarea>
                    </div>
                  </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    </fieldset>
	<div class="well">
	<fieldset>
	 <legend>Histórico de Alterações</legend>
	 <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="150">Data</th>
            <th width="100">Usuário</th>
            <th >Alterações</th>
          </tr>
        </thead>
        <tbody>
        <!-- BEGIN BLOCK_ITEM_LOG -->
          <tr>
            <td>{DATA}</td>
            <td>{USUARIO}</td>
            <td>{LOG}</td>
          </tr>
         <!-- END BLOCK_ITEM_LOG -->
        </tbody>
      </table>
	</fieldset>
	</div>
	
    <div class="form-actions">
      <input type="hidden" value="{ID}" name="id" id="id" />
      <input type="hidden" value="{ACAO}" name="acao" id="acao" />
      <button class="btn btn-primary" type="submit">Salvar</button>
      <button class="btn" id="bt_voltar" type="button">Voltar</button>
    </div>

  </form>
</section>
