<div class="container">
  <div class="py-5 text-center">
  
    <h2>Vendas - Obra de Maria DF</h2>
    <h3>Compre agora!</h3>
    <p class="lead">Você está adquirindo uma peregrinação com a Obra de Maria Brasília. Preencha seus dados</p>
  </div>
  <form class="needs-validation submit" novalidate="" action="#" id="form" >
  <div class="row">
    <div class="col-md-6 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span >Seu Carrinho</span>
        
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger" id="bt_menos">-</button>
          <button type="button" class="btn btn-secondary" id="lbl_quantidade">{QUANTIDADE}</button>
          <button type="button" class="btn btn-primary" id="bt_mais">+</button>
        </div>
        
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0 text-muted" >{GRUPO_NOME} ({GRUPO_MOEDA})</h6>
            
          </div>
          <span class="text-muted">{GRUPO_VALOR_CURRENCY}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0 text-muted" >Adesão ({GRUPO_MOEDA})</h6>
            
          </div>
          <span class="text-muted">{GRUPO_VALOR_ADESAO_CURRENCY}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0 text-muted" >Taxa de Embarque ({GRUPO_MOEDA})</h6>
            
          </div>
          <span class="text-muted">{GRUPO_VALOR_EMBARQUE_CURRENCY}</span>
        </li>
        <!-- BEGIN BLOCK_OPCIONAL -->
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          
          <div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" value="1" name="opcional" class="custom-control-input" id="opcional" >
              <label class="custom-control-label text-muted" for="opcional">{GRUPO_OPCIONAL_NOME}</label>
            </div>    
          </div>
          <span class="text-muted">{GRUPO_OPCIONAL_VALOR_CURRENCY}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0 text-muted" >Adesão ({GRUPO_MOEDA})</h6>
            
          </div>
          <span class="text-muted">{GRUPO_OPCIONAL_VALOR_ADESAO_CURRENCY}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0 text-muted" >Taxa de Embarque ({GRUPO_MOEDA})</h6>
            
          </div>
          <span class="text-muted">{GRUPO_OPCIONAL_VALOR_EMBARQUE_CURRENCY}</span>
        </li>
        <!-- END BLOCK_OPCIONAL -->        
        <li class="list-group-item d-flex justify-content-between">
          <span class="text-muted">Total ({GRUPO_MOEDA})</span>
          <strong class="text-muted" id="lbl_total">0,00</strong>
        </li>
      </ul>
      <hr class="mb-4">

      <h4 class="mb-3">Formas de Pagamento</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input value="formaAVista" id="formaAVista" name="forma" type="radio" class="custom-control-input" checked="" required="">
          <label class="custom-control-label" for="formaAVista">A Vista {TEXT_DESCONTO_A_VISTA} <span class="badge badge-success {DISPLAY_DOLLAR}">Dollar: {COTACAO_CURRENCY}</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input value="formaEntrada" id="formaEntrada" name="forma" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="formaEntrada">Entrada + Parcelado <span class="badge badge-success {DISPLAY_DOLLAR}">Dollar: {COTACAO_ENTRADA_CURRENCY}</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input value="formaParcelado" id="formaParcelado" name="forma" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="formaParcelado">Parcelado <span class="badge badge-success {DISPLAY_DOLLAR}">Dollar: {COTACAO_PARCELADO_CURRENCY}</span></label>
        </div>
        <!-- BEGIN BLOCK_FORMA_CUSTOMIZADA -->
        <div class="custom-control custom-radio">
          <input value="formaOutros" id="formaOutros" name="forma" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="formaOutros">{NOME_CUSTOMIZADA}</label>
        </div>
        <!-- END BLOCK_FORMA_CUSTOMIZADA -->
      </div>
      
      <hr class="mb-4">

      <h4 class="mb-3">Tipo de Pagamento</h4>
      <div id="tipoAVista">        
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input value="transferencia" id="transferenciaAVista" name="pagamentoAVista" type="radio" class="custom-control-input" checked="" required="">
          <label class="custom-control-label" for="transferenciaAVista">Transferência Bancária</label>
        </div>
        <!-- BEGIN BLOCK_BOLETO_AVISTA -->
        <div class="custom-control custom-radio">
          <input value="boleto" id="boletoAVista" name="pagamentoAVista" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="boletoAVista">Boleto (GerenciaNet)</label>
        </div>
        <!-- END BLOCK_BOLETO_AVISTA-->
        <!-- BEGIN BLOCK_CHEQUE_AVISTA -->
        <div class="custom-control custom-radio">
          <input value="cheque" id="chequeAVista" name="pagamentoAVista" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="chequeAVista" id="chequeAVistaLabel">Cheque</label>
        </div> 
        <!-- END BLOCK_CHEQUE_AVISTA -->
      </div>
    </div>
    <div id="tipoCustomizado">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Informações</h5>
          <h6 class="card-subtitle mb-2 text-muted">Como proceder:</h6>
          <p class="card-text">
            {TEXT_CUSTOMIZADO}
          </p>
          
        </div>
      </div>
    </div>
    
    <div id="tipoEntrada">
      <h5 class="mb-3">Entrada: <span id="valor20" class="badge badge-success"></span></h5>
      <div class="row">
      <div class="col-md-6 mb-3">
        <label for="percentualEntrada">Percentual</label>
        <select name="percentualEntrada" class="custom-select d-block w-100" id="percentualEntrada" required="">          
          <option value="0.20">20%</option>
          <option value="0.25">25%</option>
          <option value="0.30">30%</option>
          <option value="0.35">35%</option>
          <option value="0.40">40%</option>
          <option value="0.45">45%</option>
          <option value="0.50">50%</option>
          <option value="0.55">55%</option>
          <option value="0.6">60%</option>
        </select>
      </div>
    </div>
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input value="transferencia" id="entradatransferenciaEntrada" name="entradaPagamentoEntrada" type="radio" class="custom-control-input" checked="" required="">
          <label class="custom-control-label" for="entradatransferenciaEntrada">Transferência Bancária</label>
        </div>
        <!-- BEGIN BLOCK_BOLETO_ENTRADA -->
        <div class="custom-control custom-radio">
          <input value="boleto" id="entradaBoletoEntrada" name="entradaPagamentoEntrada" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="entradaBoletoEntrada">Boleto (GerenciaNet)</label>
        </div>
        <!-- END BLOCK_BOLETO_ENTRADA -->
        <!-- BEGIN BLOCK_CHEQUE_ENTRADA -->
        <div class="custom-control custom-radio">
          <input value="cheque" id="entradachequeEntrada" name="entradaPagamentoEntrada" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="entradachequeEntrada" id="entradachequeEntradaLabel">Cheque</label>
        </div> 
        <!-- END BLOCK_CHEQUE_ENTRADA -->
      </div>
      <h5 class="mb-3">Parcelamento: <span id="valor80" class="badge badge-success"></span></h5>
      <!-- BEGIN BLOCK_CARTAO_ENTRADA_PARCELA -->
      <div class="custom-control custom-radio">
        <input value="credit_card" id="creditoEntrada" name="pagamentoEntrada" checked type="radio" class="custom-control-input" required="">
        <label class="custom-control-label" for="creditoEntrada" id="creditoEntradaLabel">Cartão de crédito <span class="badge badge-success">(até {PARCELA_CARTAO_MAXIMA} vezes)</span></label>
      </div>
      <!-- END BLOCK_CARTAO_ENTRADA_PARCELA -->
      <!-- BEGIN BLOCK_CHEQUE_ENTRADA_PARCELA -->
      <div class="custom-control custom-radio">
        <input value="cheque" id="chequeEntrada" name="pagamentoEntrada" type="radio" class="custom-control-input" checked="" required="">
        <label class="custom-control-label" for="chequeEntrada" id="chequeEntradaLabel">Cheque <span class="badge badge-success">(em {PARCELA_CHEQUE_MAXIMA} vezes)</span></label>
      </div>  
      <!-- END BLOCK_CHEQUE_ENTRADA_PARCELA -->
    </div>


    <div id="tipoParcelado">
      <h5 class="mb-3">Parcelado</h5>
      <div class="d-block my-3">
        <!-- BEGIN BLOCK_CHEQUE_PARCELADO -->
        <div class="custom-control custom-radio">
          <input value="cheque" id="cheque" name="pagamentoParcelado" type="radio" class="custom-control-input" checked="" required="">
          <label class="custom-control-label" for="cheque" id="chequeParceladoLabel">Cheque <span class="badge badge-success">(em {PARCELA_CHEQUE_MAXIMA} vezes)</span></label>
        </div>   
        <!-- END BLOCK_CHEQUE_PARCELADO --> 
        <!-- BEGIN BLOCK_CARTAO_PARCELADO -->
        <div class="custom-control custom-radio">
          <input value="credit_card" id="creditoParcelado" name="pagamentoParcelado" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="creditoParcelado" id="creditoParceladoLabel">Cartão de crédito <span class="badge badge-success">(em {PARCELA_CARTAO_MAXIMA} vezes)</span></label>
        </div>   
        <!-- END BLOCK_CARTAO_PARCELADO -->
        <!--div class="custom-control custom-radio">
          <input value="3" id="paypal" name="pagamento" type="radio" class="custom-control-input" required="">
          <label class="custom-control-label" for="paypal">Paypal</label>
        </div-->
      </div>
    </div>
    <hr class="mb-4">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <span class="text-muted">Desconto (R$)</span>
          <strong class="text-muted" id="lbl_desconto_real">0,00</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="text-muted">Total Final (R$)</span>
          <strong class="text-muted" id="lbl_total_real">0,00</strong>
        </li>
      </ul>
    </div>





    <div class="col-md-6 order-md-1">
      <h4 class="mb-3">Meus Dados</h4>
      
        <input type="hidden" name="quantidade" id="quantidade" value="{QUANTIDADE}"/>
        <input type="hidden" name="idGrupo" value="{ID_GRUPO}"/>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="cpf">CPF</label>
            <input  name="cpf" type="text" class="form-control" id="cpf" placeholder="" value="" required="">
            <div class="invalid-feedback label-error feedback-cpf">
              Cpf requerido.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="rg">RG</label>
            <input  name="rg" type="text" maxlength="10" class="form-control" id="rg" placeholder="" value="" required="">
            <div class="invalid-feedback label-error">
              Rg requerido.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="orgaoExpedidor">Orgão Expedidor</label>
            <input  name="orgaoExpedidor" type="text" maxlength="10" class="form-control" id="orgaoExpedidor" placeholder="" value="" required="">
            <div class="invalid-feedback label-error">
              Orgão Expedidor requerido.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="nomeCompleto">Nome Completo</label>
            <input  name="nomeCompleto" type="text" class="form-control" id="nomeCompleto" placeholder="" value="" required="">
            <div class="invalid-feedback label-error">
              Nome Completo Requerido.
            </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-3">
            <label for="email">E-mail</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input  name="email" type="email" class="form-control" id="email" placeholder="email" required="">
            <div class="invalid-feedback label-error">
              E-mail requirido.
            </div>
          </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="estadoCivil">Estado Civil</label>
            <select name="estadoCivil" class="custom-select d-block w-100" id="estadoCivil" required="">
              <option value="">Selecione...</option>            
              <!-- BEGIN BLOCK_ESTADO_CIVIL -->
              <option value="{ID_ESTADO_CIVIL}">{DESC_ESTADO_CIVIL}</option>
              <!-- END BLOCK_ESTADO_CIVIL -->
            </select>
            <div class="invalid-feedback label-error">
             Por favor selecione um estado civil.
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="celular">Celular</label>
            <input  name="celular" type="text" class="form-control" id="celular" placeholder="" value="" required="">
            <div class="invalid-feedback label-error feedback-celular">
              Celular requerido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="telefoneFixo">Tel. Fixo</label>
            <input  name="telefoneFixo" type="text" class="form-control" id="telefoneFixo" placeholder="" value="" required="">
            <div class="invalid-feedback label-error feedback-telefoneFixo ">
              Telefone Fixo requerido.
            </div>
          </div>
        </div>
        <div id="boxAcompanhante">
        <h4 class="mb-3">Acompanhantes</h4>

        <div class="row" id="acomp1">          
          <div class="col-md-6 mb-3">
            <label for="acompanhante1">Nome Acompanhante 1</label>
            <input  name="acompanhante1" type="text" class="form-control" id="acompanhante1" placeholder="" value="" required="">
            <div class="invalid-feedback label-error">
              Nomes acompanhante 1 Requerido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email1">E-mail acompanhante 1</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input  name="email1" type="email" class="form-control" id="email1" placeholder="email acompanhante 1" required="">
              <div class="invalid-feedback label-error" style="width: 100%;">
                E-mail acompanhante 1 requirido.
              </div>
            </div>
          </div>
        </div>


        <div class="row" id="acomp2">          
          <div class="col-md-6 mb-3">
            <label for="acompanhante2">Nome Acompanhante 2</label>
            <input type="text" class="form-control" name="acompanhante2" id="acompanhante2" placeholder="" value="" required="">
            <div class="invalid-feedback label-error">
              Nomes acompanhante 2 Requerido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email2">E-mail acompanhante 2</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="email" class="form-control" name="email2" id="email2" placeholder="email acompanhante 2" required="">
              <div class="invalid-feedback label-error" style="width: 100%;">
                E-mail acompanhante 2 requirido.
              </div>
            </div>
          </div>
        </div>


        <div class="row" id="acomp3">          
          <div class="col-md-6 mb-3">
            <label for="acompanhante3">Nome Acompanhante 3</label>
            <input type="text" class="form-control" name="acompanhante3" id="acompanhante3" placeholder="" value="" required="">
            <div class="invalid-feedback label-error">
              Nomes acompanhante 3 Requerido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email3">E-mail acompanhante 3</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="email" class="form-control" name="email3" id="email3" placeholder="email acompanhante 3" required="">
              <div class="invalid-feedback label-error" style="width: 100%;">
                E-mail acompanhante 3 requirido.
              </div>
            </div>
          </div>
        </div>


        <div class="row" id="acomp4">          
          <div class="col-md-6 mb-3">
            <label for="acompanhante4">Nome Acompanhante 4</label>
            <input type="text" class="form-control" name="acompanhante4" id="acompanhante4" placeholder="" value="" required="">
            <div class="invalid-feedback label-error">
              Nomes acompanhante 4 Requerido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email4">E-mail acompanhante 4</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="email" class="form-control" name="email4" id="email4" placeholder="email acompanhante 4" required="">
              <div class="invalid-feedback label-error" style="width: 100%;">
                E-mail acompanhante 4 requirido.
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="datanascimento">Data de Nascimento <span class="text-warning">(Opcional)</span></label>
            <input  type="text" name="datanascimento" class="form-control" id="datanascimento" placeholder="" value="">
            
          </div>
          <div class="col-md-6 mb-3">
            <label for="sexo">Sexo</label>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input checked value="M" id="masculino" name="sexo"  type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="masculino">Masculino</label>
              </div>
              <div class="custom-control custom-radio">
                <input value="F" id="feminino" name="sexo"  type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="feminino">Feminino</label>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Enderço</label>
          <input  name="endereco" type="text" class="form-control" id="endereco" placeholder="Rua" required="">
          <div class="invalid-feedback label-error">
            Endereço Requerido
          </div>
        </div>

        <div class="mb-3">
          <label for="bairro">Bairro<span class="text-warning">(Optional)</span></label>
          <input  type="text" name="bairro" class="form-control" id="bairro" placeholder="Bairro">
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="cep">CEP</label>
            <input type="text" name="cep" class="form-control" id="cep" placeholder="" required="">
            <div class="invalid-feedback label-error">
              CEP requerido.
            </div>
          </div>
          <div class="col-md-6">
            <label for="pais">País</label>
            <input  type="text" name="pais" class="form-control" id="pais" placeholder="" required="">
            <div class="invalid-feedback label-error">
              País requerido.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="uf">Estado</label>
            <select name="uf" class="custom-select d-block w-100" id="uf" required="">
              <option value="">Selecione...</option>
              <option value="EX">Extrangeiro</option>
              <!-- BEGIN BLOCK_ESTADO -->
              <option value="{UF}">{UF}</option>
              <!-- END BLOCK_ESTADO -->
            </select>
            <div class="invalid-feedback label-error">
             Por favor selecione um estado.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cidade">Cidade</label>
            <select name="cidade" class="custom-select d-block w-100" id="cidade" required="">
              <option value="">Selecione...</option>
          </select>
            <div class="invalid-feedback label-error">
              Por favor selecione uma cidade.
            </div>
          </div>        
          
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input value="1" checked="checked" type="checkbox" class="custom-control-input" id="mailmarketing" name="mailmarketing">
          <label class="custom-control-label" for="mailmarketing">Receber emails da Obra de Maria DF</label>
        </div>
        
      </div>

    </div>
    
  <div class="row">
    <div class="col-md-12">
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit" >Continuar</button>
  </div>
  </div>
</form>
</div>
<textarea style="display: none;" id="txtContrato">{CONTRATO}</textarea>
<div id="modalContrato" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Termos do Contrato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="contratobody">
      </div>
      <div class="modal-footer" style="display: inline;">
        <form class="needs-validation2 submit" novalidate="" action="#" id="formAceite" >
        <div class="row">
          <div class="col-md-6">
            <div class="custom-control custom-checkbox">
              <input value="1" type="checkbox" class="custom-control-input" id="aceite" name="aceite" required>
              <label class="custom-control-label" for="aceite">de acordo com os termos do contrato</label>
              <div class="invalid-feedback label-error">
                Por favor aceite os termos do contrato.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" id="postForm">Aceito</button>
          </div>
        </div>       
      </form>
      </div>
    </div>
    
  </div>
</div>
<script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          var forms2 = document.getElementsByClassName('needs-validation2');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }else{
                event.preventDefault();
                event.stopPropagation();
                mostraContrato();
              }
              form.classList.add('was-validated');
            }, false);
          });

          var validation2 = Array.prototype.filter.call(forms2, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }else{
                event.preventDefault();
                event.stopPropagation();
                $("#modalContrato").modal('hide');
                postform();
              }
              form.classList.add('was-validated');
            }, false);
          });
          document.getElementById("celular").oninput = checkCelular;
          document.getElementById("telefoneFixo").oninput = checkTelefoneFixo;
          document.getElementById("cpf").oninput = checkCpf;
        }, false);
      })();


      $(document).ready(function(){

           desconto = {DESCONTO_A_VISTA};
           totalGeral = 0;
           descontoFinal = 0;
           cotacao = {COTACAO};
           cotacaoEntrada = {COTACAO_ENTRADA};
           cotacaoParcelado = {COTACAO_PARCELADO};
           cifrao = '{GRUPO_MOEDA} ';
           idmoeda = {GRUPO_IDMOEDA};
           quantidade = {QUANTIDADE};
           cupom =0;
           haveOptional = {GRUPO_OPCIONAL};
           parcelaChequeMaxima = {PARCELA_CHEQUE_MAXIMA};
           parcelaCartaoMaxima = {PARCELA_CARTAO_MAXIMA};
           valorPacote = {GRUPO_VALOR};
           valorAdesao = {GRUPO_VALOR_ADESAO};
           valorEmbarque = {GRUPO_VALOR_EMBARQUE};

           valorOpcional = {GRUPO_OPCIONAL_VALOR};
           valorOpcionalAdesao = {GRUPO_OPCIONAL_VALOR_ADESAO};
           valorOpcionalEmbarque = {GRUPO_OPCIONAL_VALOR_EMBARQUE};
           
           
        $("#bt_mais").click(function(){
          if(quantidade < 5 ){
          quantidade++;
          }
          $("#quantidade").val(quantidade);
          atualizaTela();
        });
        $("#bt_menos").click(function(){
          if(quantidade > 1){
            quantidade--;
          }
          
            $("#quantidade").val(quantidade);
            atualizaTela();
        });

        $("#opcional").click(function(){
          
            atualizaTela();
        });
        $("#formaEntrada,#formaAVista,#formaParcelado,#formaOutros").click(function()
        {
          atualizaTela();
        });
        $("#percentualEntrada").change(function(){
          atualizaTela();
        });

        $("#datanascimento").datepicker({ language: 'pt-BR' });
        $("#cpf").inputmask({
            mask: "999.999.999-99"
        });
        $("#telefoneFixo").inputmask(
          {mask: ["99 9999-9999","99 99999-9999"]}
        );
        $("#celular").inputmask(
          {mask: ["99 9999-9999","99 99999-9999"]}
        );

        $("#cep").inputmask({
            mask: "99.999-999"
        });

        $('#uf').change(function(){
    	    $('#cidade').load('ajax/comboCidadesPorUf.php?idUf='+$('#uf').val()); 
        });
        $("#cpf").change(function(){

          buscaPeloCpf();      
        });
       
       

        atualizaTela();

      });

function blockAcomp(numero,disabled){
  let nome = $("#acompanhante"+numero);
  let email = $("#email"+numero);
  if(disabled){
  nome.attr('disabled',disabled);
  email.attr('disabled',disabled);
  }else{
  nome.removeAttr('disabled');
  email.removeAttr('disabled');
  }
}

      function atualizaTela(){
        descontoFinal = 0;
        totalGeral = 0;
        if(quantidade == 1){
          $("#boxAcompanhante").hide('slow');
          blockAcomp(1,true);
          blockAcomp(2,true);
          blockAcomp(3,true);
          blockAcomp(4,true);
        }else{
          if(quantidade == 2){
            blockAcomp(1,false);
            blockAcomp(2,true);
            blockAcomp(3,true);
            blockAcomp(4,true);
          }else if(quantidade == 3){
            blockAcomp(1,false);
            blockAcomp(2,false);
            blockAcomp(3,true);
            blockAcomp(4,true);
          }else if(quantidade == 4){
            blockAcomp(1,false);
            blockAcomp(2,false);
            blockAcomp(3,false);
            blockAcomp(4,true);
          }else{
            blockAcomp(1,false);
            blockAcomp(2,false);
            blockAcomp(3,false);
            blockAcomp(4,false);
          }
          $("#boxAcompanhante").show('slow');
        }
        if(haveOptional && $("#opcional").prop("checked")){
          totalGeral = quantidade*(valorPacote+valorAdesao+valorEmbarque+valorOpcional+valorOpcionalAdesao+valorOpcionalEmbarque);
          
        }else{
          totalGeral =quantidade*(valorPacote+valorAdesao+valorEmbarque);
        }
        $("#lbl_total").html(floatToCurrency((totalGeral)));

        let dollar =cotacao;
        if($("#formaOutros").prop("checked")){
          $("#tipoAVista").hide();
          $("#tipoParcelado").hide();
          $("#tipoEntrada").hide();
          $("#tipoCustomizado").show('slow');
        }

        if($("#formaAVista").prop("checked")){
          dollar = cotacao;
          if(desconto != 0){
            if(haveOptional && $("#opcional").prop("checked")){
            descontoFinal = (valorPacote+valorOpcional)*(desconto/100) * quantidade;
            }else{
              descontoFinal = (valorPacote)*(desconto/100) * quantidade; 
            }
            
          }else{
            descontoFinal = 0;
          }
          totalGeral = (totalGeral) - descontoFinal;
          $("#tipoAVista").show('slow');
          $("#tipoParcelado").hide();
          $("#tipoEntrada").hide();
          $("#tipoCustomizado").hide();
        }
        if($("#formaEntrada").prop("checked")){
          dollar = cotacaoEntrada;
          var percententrada = $("#percentualEntrada").val();
          var resto =1 - percententrada;
          if(idmoeda != 2){            
            $("#valor20").html("R$ "+floatToCurrency(totalGeral*dollar*percententrada)); 
            $("#valor80").html("R$ "+floatToCurrency(totalGeral*dollar*resto));
            $("#chequeEntradaLabel").html("Cheque <span class='badge badge-success'>"+parcelaChequeMaxima+" vezes de R$ "+floatToCurrency((totalGeral*dollar*resto)/parcelaChequeMaxima)+"</span>");
            $("#creditoEntradaLabel").html("Cartão de crédito <span class='badge badge-success'>"+parcelaCartaoMaxima+" vezes de R$ "+floatToCurrency((totalGeral*dollar*resto)/parcelaCartaoMaxima)+"</span>");
            }else{
              $("#valor20").html("R$ "+totalGeral*percententrada);
              $("#valor80").html("R$ "+floatToCurrency(totalGeral*resto));
              $("#chequeEntradaLabel").html("Cheque <span class='badge badge-success'>"+parcelaChequeMaxima+" vezes de R$ "+floatToCurrency((totalGeral*resto)/parcelaChequeMaxima)+"</span>");
              $("#creditoEntradaLabel").html("Cartão de crédito <span class='badge badge-success'>"+parcelaCartaoMaxima+" vezes de R$ "+floatToCurrency((totalGeral*resto)/parcelaCartaoMaxima)+"</span>");
            }
          
          $("#tipoAVista").hide();
          $("#tipoParcelado").hide();
          $("#tipoEntrada").show('slow');
          $("#tipoCustomizado").hide();
        }
        if($("#formaParcelado").prop("checked")){
          dollar = cotacaoParcelado;
          if(idmoeda != 2){  
          $("#chequeParceladoLabel").html("Cheque <span  class='badge badge-success'>"+parcelaChequeMaxima+" vezes de R$ "+floatToCurrency((totalGeral*dollar)/parcelaChequeMaxima)+"</span>");
          $("#creditoParceladoLabel").html("Cartão de crédito <span  class='badge badge-success'>"+parcelaCartaoMaxima+" vezes de R$ "+floatToCurrency((totalGeral*dollar)/parcelaCartaoMaxima)+"</span>");
          }else{
            $("#chequeParceladoLabel").html("Cheque <span class='badge badge-success'>"+parcelaChequeMaxima+" vezes de R$ "+floatToCurrency((totalGeral)/parcelaChequeMaxima)+"</span>");  
            $("#creditoParceladoLabel").html("Cheque <span class='badge badge-success'>"+parcelaCartaoMaxima+" vezes de R$ "+floatToCurrency((totalGeral)/parcelaCartaoMaxima)+"</span>");  
          }
          $("#tipoAVista").hide();
          $("#tipoParcelado").show('slow');
          $("#tipoEntrada").hide();
          $("#tipoCustomizado").hide();
        }
        
        if(idmoeda != 2){
        $("#lbl_desconto_real").html("R$ "+floatToCurrency((descontoFinal*dollar)));
        $("#lbl_total_real").html("R$ "+floatToCurrency((totalGeral*dollar)));
        }else{
          $("#lbl_desconto_real").html("R$ "+floatToCurrency((descontoFinal)));
          $("#lbl_total_real").html("R$ "+floatToCurrency((totalGeral)));
        }
        $("#lbl_quantidade").html($("#quantidade").val());
      }

      function floatToCurrency(valor){
        return valor.format(2, 3, ".", ",");
      }
      function CurrencyToFloat(valor){
        return parseFloat(valor);
          
      }

      function getCotacoes(){
        
        $.get("https://economia.awesomeapi.com.br/all/USD-BRL,EUR-BRL,BTC-BRL",
        function(data, status){
          
          cotacoes = data;
          atualizaTela();
        }
        );
      }


      function preencheForm(cliente){
 
        $("#rg").val(cliente.rg);
        $("#orgaoExpedidor").val(cliente.orgaoEmissorRg)
        $("#nomeCompleto").val(cliente.nomeCompleto);
        $("#email").val(cliente.email);
        $("#datanascimento").val(cliente.dataNascimento);
        if(cliente.sexo == 'M'){
          $("#masculino").prop("checked",true);
        }else{
          $("#feminino").prop("checked",true);
        }
        $("#endereco").val(cliente.endereco);
        $("#bairro").val(cliente.bairro);
        $("#cep").val(cliente.cep);
        $("#pais").val(cliente.paisEndereco);
        $("#telefoneFixo").val(cliente.telefoneResidencial);
        $("#celular").val(cliente.celular);
        if(cliente.enviaCorrespondencia == 1){
          $("#mailmarketing").prop("checked",true); 
        }else{
          $("#mailmarketing").prop("checked",false);
        }
        if(cliente.estadoCivil != null){
          $("#estadoCivil").val(cliente.estadoCivil.id.trim());   
        }
        
        if(cliente.estadoEndereco != null){
        $("#uf").val(cliente.estadoEndereco.trim());       
        
        $('#cidade').load('ajax/comboCidadesPorUf.php?selected='+cliente.cidadeEndereco.trim()+'&idUf='+$('#uf').val());
        }
        
        
      }
      function limpaForm(){
 
      $("#rg").val('');
      $("#orgaoExpedidor").val('')
      $("#nomeCompleto").val('');
      $("#email").val('');
      $("#datanascimento").val('');
        $("#masculino").prop("checked",true); 
      $("#endereco").val('');
      $("#bairro").val('');
      $("#cep").val('');
      $("#pais").val('');
      $("#telefoneFixo").val('');
      $("#celular").val(''); 
      $("#mailmarketing").prop("checked",true); 
      $("#estadoCivil").val(1);   
      $("#uf").val('');       
      $("#cidade").val(''); 
        
      }
      function checkCelular(){
        input = document.getElementById("celular");
        celular = input.value.replaceAll("_","").replaceAll("-","").replaceAll(" ","");

        if ((celular.length == 10 || celular.length == 11) || celular.length === 0) {
            $(".feedback-celular").html("Celular requerido.");
            input.setCustomValidity('');            
          } else {
            $(".feedback-celular").html("Celular Inválido.");
            input.setCustomValidity('Celular Inválido.');
           }
      }
      function checkTelefoneFixo(){
        input = document.getElementById("telefoneFixo");
        telefoneFixo = input.value.replaceAll("_","").replaceAll("-","").replaceAll(" ","");
        
        if ((telefoneFixo.length == 10 || telefoneFixo.length == 11) || telefoneFixo.length === 0) {
            $(".feedback-telefoneFixo").html("Telefone Fixo requerido.");
            input.setCustomValidity('');            
          } else {
            $(".feedback-telefoneFixo").html("Telefone Fixo Inválido.");
            input.setCustomValidity('Telefone Fixo Inválido.');
           }
      }
      function checkCpf() {
        
        input = document.getElementById("cpf");
        cpf = input.value.replaceAll("_","").replaceAll("-","").replaceAll(".","")
        
          if (valida_cpf(cpf) || cpf.length === 0) {
            $(".feedback-cpf").html("Cpf requerido.");
            input.setCustomValidity('');            
          } else {
            $(".feedback-cpf").html("Cpf Inválido.");
            input.setCustomValidity('Cpf Inválido.');
           }
      }

        function mostraContrato(){
          $("#contratobody").html($("#txtContrato").val().replaceAll("##nomeCompleto##",$("#nomeCompleto").val())
          .replaceAll("##nacionalidade##",$("#pais").val())
          .replaceAll("##cpf##",$("#cpf").val())
          .replaceAll("##endereco##",$("#endereco").val())
          .replaceAll("##uf##",$("#uf").val())
          .replaceAll("##cidade##",$("#cidade option:selected" ).text())
          .replaceAll("##total##",floatToCurrency(totalGeral))
          .replaceAll("##rg##",$("#rg").val())
          .replaceAll("##rgOrgaoExpedidor##",$("#orgaoExpedidor").val())
          .replaceAll("##estado_civil##",$("#estadoCivil option:selected" ).text())
          );
          $("#modalContrato").modal('show');
        }

        function postform(){
            let form = $("#form").serialize();
            
            //funcao de sucesso
            var funcSuccess = function(data) {
            if(data.code == 200){
              window.location.href="bilhete.php?charge_id="+data.data.charge_id;
            
            }else{
              showMessage("Erro", data.data.mensagem);
              //alert("Erro encontrado\n"+data.data.mensagem);
            }
            }
            //funcao de erro
            var funcDefaultError = function(erro) {
              showMessage();

            }
            postJson('ajax/shopping/checkout.php',form,funcSuccess,funcDefaultError);
           
        }

        function postJson(url, data, sucesso, erro) {
            $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "json",
                    data: data
                })
                .done(sucesso)
                .fail(erro);
        }

      

      function buscaPeloCpf(){
        limpaForm();
        if($("#cpf").val() != ""){
        var funcSuccess = function(data) {
              if(data.code == 200){
                preencheForm(data.data);
              }
            }
            //funcao de erro
            var funcDefaultError = function(erro) {
              showMessage();

            }
            postJson('ajax/shopping/clienteByCpf.php',{"cpf":$("#cpf").val()},funcSuccess,funcDefaultError);
        }
      }
    </script>