<script>
    $(document).ready(function(){
        
        $(".editarReview").click(function(){
           window.location.href = 'comentario.php?id='+$(this).attr('id');
        });
        $(".excluirReview").click(function(){
            if(confirm("Tem certeza que deseja excluir esse comentário")){
                    window.location.href = 'comentario.response.php?acao=excluir&id='+$(this).attr('id');
                }
        });
    });
</script>
<section>
    <h1>Comentários<br/><small>EDITAR COMENTÁRIOS DO SITE.</small></h1>
    <fieldset>
        <legend>COMENTÁRIOS</legend>
        <form class="form" id="frmEdit" method="post" action="comentario.response.php" enctype="multipart/form-data" >
            <div class="row">
                <div class="span12 form-field">
                    <div class="control-group">
                        <label for="foto" class="control-label">Local:</label>
                        <p>(Local ou nome do roteiro)</p>
                        <input type="text" required name="local"class="form-control span12 input-xlarge" value="{LOCAL}"/>                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field span6">
                   <div class="control-group">
                       <label for="foto" class="control-label">Nome:</label>
                       <p>(nome do cliente)</p>
                       <input type="text" required name="name"class="form-control span6 input-xlarge" value="{NAME}"/>               
                   </div>                           
               </div>
               <div class="form-field span6">
                <div class="control-group">
                    <label for="foto" class="control-label">Data:</label>
                    <p>(data do comentário)</p>
                    <input data-datepicker="datepicker" value="{DATA}" type="text" required name="data" class="form-control span6 input-xlarge"></textarea>                
                </div>                           
            </div>
            </div>
            <div class="row">
                <div class="form-field span12">
                   <div class="control-group">
                       <label for="foto" class="control-label">Comentário:</label>
                       <p>(digite um comentário do cliente)</p>
                       <textarea required rows="4" required name="coment"class="form-control span12 input-xlarge">{REVIEW}</textarea>                
                   </div>
                   
               </div>
            </div>
        <div class="row">
         <div class="form-field span12">
            <div class="control-group">
                <label for="foto" class="control-label">Foto:</label>
                <p>(foto do cliente)</p>
                <input {REQUIRED_FOTO} name="foto" type="file" class="form-control span12 input-xlarge"/>  
                <p>{FOTO_NAME}</p>              
            </div>
            
        </div>
        </div>
        <div class="form-actions">
            <input type="hidden" value="salvar" name="acao" id="acao" />
            <input type="hidden" value="{ID}" name="id" id="idReview" />
            <button class="btn btn-primary" type="submit">SALVAR COMENTÁRIO</button>
            <a href="comentario.php" class="btn btn-primary" id="btNovo" type="button">NOVO</a>
        </div>
        <div class="row">
            <!-- BEGIN BLOCK_REVIEW -->
            <div class="span6 text-center">
               <img src="../img/reviews/{FOTO_REVIEW}" style="height: 50px;"/>
               <h4>{COMENT_NAME}</h4>
               <p>{COMENT_LOCAL}</p>
               <p>{COMENT_REVIEW}</p>
               <p>{COMENT_DATE}</p>
               <button type="button" class="btn btn-danger excluirReview" id="{ID_REVIEW}"><i class="icon-trash icon-white"></i></button>
               <button type="button" class="btn btn-primary editarReview" id="{ID_REVIEW}"><i class="icon-pencil icon-white"></i></button>
                
            </div>
            <!-- END BLOCK_REVIEW -->
        </div>
        
        </form>
    </fieldset>
</section>