<section>
<h1>Grupos em Andamento <br/><small>Lista dos grupos em andamento.</small></h1>
<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th class="yellow">Descrição</th>
            <th class="blue">Data</th>
			<th class="blue">Prazo</th>
            <th class="green"  width="250">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Grupo Roma e Terra Santa</td>
            <td>12/07/2012</td>
            <td>48 Dias</td>
			<td align="center">
			<div class="btn-group">
          <a href="#" class="btn" title="Editar"><i class="icon-pencil"></i></a>
          <a href="#" class="btn" title="Hoteis"><i class="icon-home"></i></a>
		  <a href="#" class="btn" title="Quartos"><i class="icon-tag"></i></a>
          <a href="#" class="btn" title="Vôos"><i class="icon-plane"></i></a>
          <a href="#" class="btn" title="Participantes"><i class="icon-user"></i></a>
		  <a href="#" class="btn" title="Excluir"><i class="icon-trash"></i></a>
		  <a href="#" class="btn" title="Desativar"><i class="icon-refresh"></i></a>
        </div>
			</td>
          </tr>
		  <tr>
            <td>1</td>
            <td>Grupo Roma e Terra Santa</td>
            <td>12/07/2012</td>
            <td>48 Dias</td>
			<td align="center">
			<div class="btn-group">
          <a href="#" class="btn" title="Editar"><i class="icon-pencil"></i></a>
          <a href="#" class="btn" title="Hoteis"><i class="icon-home"></i></a>
		  <a href="#" class="btn" title="Quartos"><i class="icon-tag"></i></a>
          <a href="#" class="btn" title="Vôos"><i class="icon-plane"></i></a>
          <a href="#" class="btn" title="Participantes"><i class="icon-user"></i></a>
		  <a href="#" class="btn" title="Excluir"><i class="icon-trash"></i></a>
		  <a href="#" class="btn" title="Desativar"><i class="icon-refresh"></i></a>
        </div>
			</td>
          </tr>
		  <tr>
            <td>1</td>
            <td>Grupo Roma e Terra Santa</td>
            <td>12/07/2012</td>
            <td>48 Dias</td>
			<td align="center">
			<div class="btn-group">
          <a href="#" class="btn" title="Editar"><i class="icon-pencil"></i></a>
          <a href="#" class="btn" title="Hoteis"><i class="icon-home"></i></a>
		  <a href="#" class="btn" title="Quartos"><i class="icon-tag"></i></a>
          <a href="#" class="btn" title="Vôos"><i class="icon-plane"></i></a>
          <a href="#" class="btn" title="Participantes"><i class="icon-user"></i></a>
		  <a href="#" class="btn" title="Excluir"><i class="icon-trash"></i></a>
		  <a href="#" class="btn" title="Desativar"><i class="icon-refresh"></i></a>
        </div>
			</td>
          </tr>
		  <tr>
            <td>1</td>
            <td>Grupo Roma e Terra Santa</td>
            <td>12/07/2012</td>
            <td>48 Dias</td>
			<td align="center">
			<div class="btn-group">
          <a href="#" class="btn" title="Editar"><i class="icon-pencil"></i></a>
          <a href="#" class="btn" title="Hoteis"><i class="icon-home"></i></a>
		  <a href="#" class="btn" title="Quartos"><i class="icon-tag"></i></a>
          <a href="#" class="btn" title="Vôos"><i class="icon-plane"></i></a>
          <a href="#" class="btn" title="Participantes"><i class="icon-user"></i></a>
		  <a href="#" class="btn" title="Excluir"><i class="icon-trash"></i></a>
		  <a href="#" class="btn" title="Desativar"><i class="icon-refresh"></i></a>
        </div>
			</td>
          </tr>
		  <tr>
            <td>1</td>
            <td>Grupo Roma e Terra Santa</td>
            <td>12/07/2012</td>
            <td>48 Dias</td>
			<td align="center">
			<div class="btn-group">
          <a href="#" class="btn" title="Editar"><i class="icon-pencil"></i></a>
          <a href="#" class="btn" title="Hoteis"><i class="icon-home"></i></a>
		  <a href="#" class="btn" title="Quartos"><i class="icon-tag"></i></a>
          <a href="#" class="btn" title="Vôos"><i class="icon-plane"></i></a>
          <a href="#" class="btn" title="Participantes"><i class="icon-user"></i></a>
		  <a href="#" class="btn" title="Excluir"><i class="icon-trash"></i></a>
		  <a href="#" class="btn" title="Desativar"><i class="icon-refresh"></i></a>
        </div>
			</td>
          </tr>
		  <tr>
            <td>1</td>
            <td>Grupo Roma e Terra Santa</td>
            <td>12/07/2012</td>
            <td>48 Dias</td>
			<td align="center">
			<div class="btn-group">
          <a href="#" class="btn" title="Editar"><i class="icon-pencil"></i></a>
          <a href="#" class="btn" title="Hoteis"><i class="icon-home"></i></a>
		  <a href="#" class="btn" title="Quartos"><i class="icon-tag"></i></a>
          <a href="#" class="btn" title="Vôos"><i class="icon-plane"></i></a>
          <a href="#" class="btn" title="Participantes"><i class="icon-user"></i></a>
		  <a href="#" class="btn" title="Excluir"><i class="icon-trash"></i></a>
		  <a href="#" class="btn" title="Desativar"><i class="icon-refresh"></i></a>
        </div>
			</td>
          </tr>
        </tbody>
      </table>
</section>
<section>
    <ul class="pager">
    <li class="previous">
    <a href="#">&larr; Anterior</a>
    </li>
    <li class="next">
    <a href="#">Próxima &rarr;</a>
    </li>
    </ul>
	</section>
<section>
<a class="btn btn-small btn-primary" href="grupos.novo.php">Novo Grupo</a> <button class="btn btn-small">Outra Ação</button>
</section>