<script>
$(document).ready(function(){

 $("#frmEdit").validate();

 $("#submit").click(function(){
 		$("#frmEdit").submit();
 });

});
</script>

<section>
<h1>Edita Seguro e Tikets do Participante </h1>
<form class="form-horizontal" id="frmEdit" method="post" action="participante.response.php">
        <fieldset>
          <legend>Dados do Cliente </legend>
           <div class="control-group">
            <label for="cpf" class="control-label">CPF / Nome:</label>
            <div class="controls">{CPF}-{NOME}</div>
          </div>
          <div class="control-group">
            <label for="cpf" class="control-label">Grupo:</label>
            <div class="controls">{NOME_GRUPO}</div>
          </div>
        <div class="control-group">
          <label for="voucher" class="control-label">Voucher:</label>
          <div class="controls">
            <input type="text" id="voucher" class="input-xlarge span2" name="voucher" value="{voucher}" placeholder="Voucher" /></div>
        </div>

    </fieldset>

       <div class="well">
	<fieldset>
	 <legend>Tickets dos Trechos</legend>
	 <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="80">Data</th>
            <th>Vôo</th>
            <th >Empresa</th>
            <th >Trecho</th>
			<th >Saída</th>
            <th >Chegada</th>
            <th >Ticket</th>
            <th >Reserva</th>
          </tr>
        </thead>
        <tbody>
        <!-- BEGIN BLOCK_ITEM_TICKET -->
          <tr>
            <td>{DATA_VOO}</td>
            <td>{NUMERO_VOO}</td>
            <td>{EMPRESA_VOO}</td>
            <td>{TRECHO_VOO}</td>
			<td>{SAIDA_VOO}</td>
            <td>{CHEGADA_VOO}</td>
            <td><INPUT type="text" class="input-large" value="{TICKET_VOO}" name="ticket{ID_VOO}" /></td>
            <td><INPUT type="text" class="input-mini" value="{RESERVA_VOO}" name="reserva{ID_VOO}" /></td>
          </tr>
         <!-- END BLOCK_ITEM_TICKET -->
        </tbody>
      </table>
	</fieldset>
	</div>

          <fieldset>
          <div class="form-actions">
          <input type="hidden" value="{ID_GRUPO_HASH}" name="idGrupo" id="idGrupo" />
		  <input type="hidden" value="{ID}" name="id" id="id" />
            <input type="hidden" value="{ACAO}" name="acao" id="acao" />
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a href="seguro.php?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}" class="btn  btn-primary" title="Imprimir Seguro" target="_blank">Imprimir</a>
            <button class="btn" id="bt_voltar" type="button">Voltar</button>
          </div>
        </fieldset>
      </form>
</section>
