<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{TITULO}</title>
<style type="text/css">
body{
margin:0px;
padding:0px;
}
.folha{
padding-left:12px;
border:1px solid #000000;
width:216mm;	
}
.etiqueta{
margin-left:28px;
margin-right:28px;
width:288px;
height:72px;
border:1px solid #000000;
float:left;
}
</style>
</head>
<body>
<div class="folha">
	<div class="etiqueta">{NOME}<BR />
	{ENDERECO}</div>
	<div class="etiqueta">{NOME}<BR />
	{ENDERECO}</div>
	<div class="etiqueta">{NOME}<BR />
	{ENDERECO}</div>
	<div class="etiqueta">{NOME}<BR />
	{ENDERECO}</div>
</div>
</body>
</html>