<script>
$(document).ready(function(){


 $("#frmEdit").validate();
 
 $("#submit").click(function(){
 		$("#frmEdit").submit();
 }); 
});

</script>

<section>
<h1>Relatório Mensal por Forma de Pagamento</h1>
<form class="form-horizontal" id="frmEdit" method="post" action="relatorio.mensalFormaPagamentoPrint.php" target="_blank">
        <fieldset>
          <legend>Dados de Pesquisa</legend>
         <DIV class="row">
         <div class="span5">
          <div class="control-group">
            <label for="mes" class="control-label">Mês:</label>
            <div class="controls">
             <SELECT name="mes" id="mes" class="span3 required">	
             <option value="" selected="selected">Selecione</option>
             <option value="01">Janeiro</option>
             <option value="02">Fevereiro</option>
             <option value="03">Março</option>
             <option value="04">Abril</option>
             <option value="05">Maio</option>
             <option value="06">Junho</option>
             <option value="07">Julho</option>
             <option value="08">Agosto</option>
             <option value="09">Setembro</option>
             <option value="10">Outubro</option>
             <option value="11">Novembro</option>
             <option value="12">Dezembro</option>
			 </SELECT>
            </div>
          </div>
         </div>
         <div class="span6">
          <div class="control-group">
            <label for="ano" class="control-label">Ano:</label>
            <div class="controls">
             <SELECT name="ano" id="ano" class="span2 required">	
             <option value="" selected="selected">Selecione</option>
             <!-- BEGIN BLOCK_ANO -->
             <option value="{ANO}">{ANO}</option>
             <!-- END BLOCK_ANO -->		 	
			 </SELECT>
            </div>
          </div>
          </div>
          </DIV>	
		  	
         <div class="form-actions">
            <button class="btn btn-primary" type="submit">Gerar</button>
            <button class="btn" id="bt_voltar" type="button">Voltar</button>
          </div>
        </fieldset>
      </form>
</section>
