<section>
<h3>RELATÓRIO DE CONTAS A PAGAR - {DATA_RELATORIO}</h3>
<h3>DE {DATA_INICIO} À {DATA_FIM}</h3>
<form class="well form-search" action="relatorio.listaCamisetaPrint.php" id="frmEmail" method="post">      
		<button class="btn btn-success" id="bt_print" type="button"><i class="icon-print icon-white"></i> Imprimir</button>
      </form>
<table class="table table-striped table-bordered">
        <thead>
          <tr>
		  	<th >Descrição</th>
		   	<th >Parcela</th>
			<th >Data</th>
			<th >Valor</th>
          </tr>
        </thead>
        <tbody>
         <!-- BEGIN BLOCK_ITEM_LISTA -->
		  <tr>
            <td>{DESCRICAO}</td>
			<td style="text-align:right;">{PARCELA}</td>
			<td style="text-align:right;">{DATA}</td>
			<td style="text-align:right;">{VALOR}</td>
          </tr>
          <!-- END BLOCK_ITEM_LISTA -->
		   <tr>
            <th  style="text-align:right;" colspan="3">Total no período:</th>
			<th style="text-align:right;">{TOTAL}</th>
          </tr>
        </tbody>
      </table>
</section>
