<section>
<h1>Relatório de Passaportes a Vencer</h1>
<form class="form-horizontal" id="frmEdit" method="post" action="relatorio.passaporteVencerPrint.php" target="_blank">
        <fieldset>
          <legend>Dados de Pesquisa</legend>
         <div class="control-group"> 
    <label for="etiqueta" class="control-label">Etiqueta:</label>
    <div class="controls"> 
      <SELECT name="etiqueta" id="etiqueta" class="span2">
        <option value="pimaco6181">PIMACO 6181</option>
      </SELECT>   
    </div>
  </div>
  <div class="form-actions">
            <button class="btn btn-primary" type="submit">Gerar Etiquetas</button>
            <button class="btn" id="bt_voltar" type="button">Voltar</button>
          </div>
   </fieldset>
      </form>
</section>
