<h4>NOME: {NOME}</h4>
<table class="table table-striped table-bordered  table-condensed">
        <thead>
          <tr>
            <th width="50">Data</th>
            <th >Vôo</th>
			<th >Trecho</th>       
			<th >Saída</th>       
			<th >Chegada</th>       
			<th >Ticket</th>
			<th >Reserva</th>       
          </tr>
        </thead>
        <tbody>
        <!-- BEGIN BLOCK_ITEM_LISTA -->
          <tr>
            <td>{DATA}</td>
            <td>{VOO}</td>
			<td>{TRECHO}</td>
			<td>{SAIDA}</td>
			<td>{CHEGADA}</td>
			<td>{TICKET}</td>
			<td>{RESERVA}</td>
          </tr>
         <!-- END BLOCK_ITEM_LISTA -->
        </tbody>
      </table>
<img src="img/coris.png"/>
<div class="bordas">
	<div class="row">
	<div class="span2">
	<p><b>VOUCHER:</b><br />{VOUCHER}</p>
	</div>
	<div class="span5">
	<p><b>Plano:</b><br />{PLANO}</p>
	</div>
	</div>
	
	<div class="row">
	<div class="span2">
	<p><b>Início Vigência:</b><br />{INI_VIG}</p>
	</div>
	<div class="span2">
	<p><b>Fim Vigência:</b><br />{FIM_VIG}</p>
	</div>
	<div class="span2">
	<p><b>Vigência:</b><br />{DIAS_VIG} dias</p>
	</div>
	</div>
	
	<div class="row">
	<div class="span8">
	<p><b>Destino:</b><br />{DESTINO}</p>
	</div>
	</div>

</div>
<br />
<div class="row">
	<div class="span4">
	<p><b>Passageiro:</b><br />{PASSAGEIRO}</p>
	</div>
	<div class="span1">
	<p><b>Sexo:</b><br />{SEXO}</p>
	</div>
	<div class="span3">
	<p><b>Documento:</b><br />{DOCUMENTO}</p>
	</div>
	</div>
<br />
<p><b>ATENÇÃO: Em casos de emergência, a ligação para a Central de Atendimento Coris é obrigatória:</b></p>
	<div class="row">
	<div class="span10">
	<table class="table table-bordered table-condensed">
        <thead>
          <tr class="success">
            <th>Caso você esteja</th>
            <th >Toll Free</th>
			 <th>Caso você esteja</th>
            <th >Toll Free</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success">
            <td>ALEMANHA</td>
			<td>0800 181 8171</td>
            <td>ARGENTINA </td>
			<td>0800 333 0179</td>
		</tr>
		<tr class="success">
            <td>CHILE</td>
			<td>1888 0042 0082</td>
            <td>CHINA</td>
			<td>1080 749 0076</td>
		</tr>
		<tr class="success">
            <td>CUBA</td>
			<td>53 7 866 4121</td>
            <td>ESPANHA </td>
			<td>900 995 506</td>
		</tr>
		<tr class="success">
            <td>ESTADOS UNIDOS</td>
			<td>1866 308 4245</td>
            <td>FRANÇA</td>
			<td>0800 918 069</td>
		</tr>
		<tr class="success">
            <td>ITÁLIA</td>
			<td>800 781 076</td>
            <td>JAPÃO</td>
			<td>0053 55 0009</td>
		</tr>
		<tr class="success">
            <td>MEXICO</td>
			<td>01 800 123 1652</td>
            <td>PORTUGAL</td>
			<td>800 855 008</td>
		</tr>
		<tr class="success">
            <td>REINO UNIDO</td>
			<td>0800 169 5932</td>
            <td>BRASIL</td>
			<td>0800 11 0872</td>
		</tr>
		<tr class="success">
			<td>Demais países a cobrar</td>
			<td>55 11 2185 9696   ou  55 11 3214 01 88 </td>
		</tr>
        </tbody>
      </table>	
	</div>
	</div>
	<DIV class="row">
	<div class="span10">
	<p><b>Ao comunicar-se com a central CORIS informe:</b><br />
- Número completo do voucher &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Nome, sobrenome e CPF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Vigência do voucher<br />
- Endereço, telefone e lugar onde se encontra&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Tipo de assistência requerida
</p>
	</div>
	</div>
	<p style="font-size:9px;">
	Outras alternativas e para o resto do mundo. A cobrar (collect call) via operadora e por reembolso mediante apresentação do comprovante: 55 11 2185 9696. E-mail: assistencia@coris.com.br. Mensagem SMS: 55 11 7715 1366. Nextel: 55*8*61198/ 55*8*61198. Importante: Em caso de e-mails e sms, por favor, não os utilize para emergências. O envio não garante o recebimento por parte da Central Operativa.
	</p>