<div class="container">
  <div class="py-5 text-center">
        <h2>Vendas - Obra de Maria DF</h2>
    <p class="lead">Parabéns você comprou o pacote</p>
  </div>
<!-- BEGIN COMPRA_VALIDA -->
    <div class="row">
      <div class="col-md-12">
        <h3>Sua identificação de compra é <span class="badge badge-primary">{CHARGE_ID}</span></h3>
         
        </div>
    </div>
  <div class="row">
    <div class="col-md-12">
    <hr class="mb-4">
    <a class="btn btn-primary btn-lg btn-block" href="{URLGN}" target="_blank" >Continue para o pagamento</a>
  </div>
  </div>
<!-- END COMPRA_VALIDA -->
<!--BEGIN COMPRA_INVALIDA -->
COMPRA NAO ENCONTRADA 
<!-- END COMPRA_INVALIDA -->
  </div>