<script>
$(document).ready(function(){
	
	$('#excluircliente').click(function(){
		document.location.href= 'cadastro.clienteResponse.php?acao=Excluir&idCliente='+$('#manipulacao').val();
	});
	
	$('#incluirParticipante').click(function(){
		if($('#grupos').val() != "")
			document.location.href= 'participante.response.php?acao=IncluirPorId&idGrupo='+$('#grupos').val()+'&idCliente='+$('#manipulacao').val();
		else
			alert("Você deve escolher um grupo!");
	});
	
	 $("#ano").change(function(){
	 	if($(this).val() != "")
   		$("#grupos").load('ajax/comboGruposEmAndamentoPorAno.php?Ano='+$(this).val());
   		else
   		$("#grupos").html('<option value="" selected="selected">Selecione</option>');
   });
		
	$('.paginar').click(function(){
		jQuery.ajax({
		type: "GET",
		url: "cadastro.clientes.php?ajax=1&busca={BUSCA}&pagina="+$('#manipulacao').val(),
		beforeSend: function( ) {
		jQuery('#content').html('<p align="center">Processando...<br /><img src="img/ajax_loading_pequeno.gif" /></p>');
		  },
		success: function(msg){
		jQuery("#content").html(msg);
		}
		});
	});
});

</script>
<section>
<h1>Clientes<br/><small>Lista dos clientes cadastrados.</small></h1>
<form class="well form-search" action="cadastro.clientes.php">
        <input type="text" class="input-medium search-query" name="busca"/>
        <button class="btn" type="submit">Procurar</button>
      </form>
<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="50">#</th>
            <th class="yellow">CPF</th>
			<th class="yellow">Nome</th>
            <th class="yellow"  width="120">Opções</th>
          </tr>
        </thead>
        <tbody>
        <!-- BEGIN BLOCK_ITEM_LISTA -->
          <tr>
            <td>{ID}</td>
            <td>{CPF}</td>
			<td>{NOME}</td>
           	<td align="center" >
			<div class="btn-group">
          <a href="cadastro.clienteEdita.php?idCliente={ID_HASH}" class="btn" title="Editar" target="_blank"><i class="icon-pencil"></i></a>
		  <a class="btn" title="Excluir"  data-toggle="modal" href="#myModal" onclick="document.getElementById('manipulacao').value = '{ID_HASH}';"><i class="icon-trash"></i></a>
          <a class="btn" title="Incluir em Grupo"  data-toggle="modal" href="#myModalGrupo" onclick="document.getElementById('manipulacao').value = '{ID_HASH}';"><i class="icon-user"></i></a>
          
        </div>
			</td>
          </tr>
         <!-- END BLOCK_ITEM_LISTA -->
        </tbody>
      </table>
</section>
<!-- BEGIN BLOCK_PAGINACAO -->
<section>
    <ul class="pager">
    <li class="previous">
    <a href="#" class="paginar" onclick="document.getElementById('manipulacao').value = '{PAGINA_ANTERIOR}';">&larr; Anterior</a>
    </li>
    <li>Página <input type="text" class="span1" name="pagina" id="pagina" value="{PAGINA}" onchange="document.getElementById('manipulacao').value = this.value"/>
	 <a href="#" class="paginar">Ir</a>
	 Total de Páginas: {TOTAL_PAGINAS}</li>
    <li class="next">
    <a href="#" class="paginar" onclick="document.getElementById('manipulacao').value = '{PROXIMA_PAGINA}';">Próxima &rarr;</a>
    </li>
    </ul>
	</section>
<!-- END BLOCK_PAGINACAO -->    
<section>
<a class="btn btn-small btn-primary" href="cadastro.clienteEdita.php">Novo cliente</a> <button class="btn btn-small" id="bt_voltar">Voltar</button>
</section>
<div class="modal hide fade" id="myModal" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Aviso de Exclusão</h3>
  </div>
  <div class="modal-body">
    <p>Tem certeza que deseja excluir esse cliente?</p>
  </div>
  <div class="modal-footer">
    <a data-toggle="modal" href="#myModal" class="btn">Cancelar</a>
    <a href="#" class="btn btn-primary" id="excluircliente">Confirmar</a>
  </div>
</div>

<div class="modal hide fade" id="myModalGrupo" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Inclusão de Participante</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
    	<div class="controls">
    <select id="ano" name="ano" class="span5">
    <option value="" selected="selected">Selecione</option>	
    <!-- BEGIN BLOCK_ANO -->
    <option value="{ID_ANO}">{LABEL_ANO}</option>
    <!-- END BLOCK_ANO -->
    </select>
    </div>
    </div>
    
    <div class="control-group">
    	<div class="controls">
    <select id="grupos" name="grupos" class="span5">
    <option value="" selected="selected">Selecione</option>
    </select>
    </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <a data-toggle="modal" href="#myModalGrupo" class="btn">Cancelar</a>
    <a href="#" class="btn btn-primary" id="incluirParticipante">Confirmar</a>
  </div>
</div>
