<script>
$(document).ready(function(){
 $("#frmEdit").validate();
 
 $("#submit").click(function(){
 		$("#frmEdit").submit();
 });
});
</script>

<section>
<h1>Novo Usuário</h1>
<form class="form-horizontal" id="frmEdit" method="post" action="cadastro.usuarioResponse.php">
        <fieldset>
          <legend>Cadastro de usuario</legend>
          <div class="control-group">
            <label for="nome" class="control-label">Nome:</label>
            <div class="controls">
              <input type="text" id="nome" class="input-xlarge required" name="nome" value="{NOME}">
              <p class="help-block">Nome do usuário</p>
            </div>
          </div>
		  <div class="control-group">
            <label for="email" class="control-label">E-mail:</label>
            <div class="controls">
              <input type="text" id="email" class="input-xlarge required email" name="email" value="{EMAIL}">
              <p class="help-block">E-mail do usuário</p>
            </div>
          </div>
		  <div class="control-group">
            <label for="senha" class="control-label">Senha:</label>
            <div class="controls">
              <input type="password" id="senha" class="input-xlarge required" name="senha" value="{SENHA}">
              <p class="help-block">Senha do usuário</p>
            </div>
          </div>
		  <div class="control-group">
            <label for="perfil" class="control-label">Perfil:</label>
            <div class="controls">
             <SELECT name="perfil" id="perfil" class="required">
			 <!-- BEGIN BLOCK_COMBO_PERFIL -->
			 	<option value="{ID_PERFIL}" {CHECKED_PERFIL}>{LABEL_PERFIL}</option>
			 <!-- END BLOCK_COMBO_PERFIL -->
			 </SELECT>
              <p class="help-block">Perfil do usuário</p>
            </div>
          </div>		  
			
          <div class="form-actions">
          <input type="hidden" value="{ID}" name="id" id="id" />
            <input type="hidden" value="{ACAO}" name="acao" id="acao" />
            <button class="btn btn-primary" type="submit">Salvar</button>
            <button class="btn" id="bt_voltar" type="button">Voltar</button>
          </div>
        </fieldset>
      </form>
</section>
