<!-- BEGIN BLOCK_ENVIO_EMAIL -->
<script>
$(document).ready(function(){
		$('#bt_edit').click(function() {
		window.location.href = 'participante.editarContrato.php?idGrupo={ID_GRUPO_HASH}&idParticipante={ID_PARTICIPANTE_HASH}'
	}); 	
});

</script>
<form class="well form-search" action="contratodeviagens.php" id="frmEmail" method="post">
        <input type="hidden" name="idGrupo" value="{ID_GRUPO_HASH}"/>
		<input type="hidden" name="idParticipante" value="{ID_PARTICIPANTE_HASH}"/>
		 <input type="text" class="input-medium search-query" name="tupiSendEmail"/>
        <button class="btn" id="bt_sendEmail" type="submit">Enviar Por Email</button>
		<button class="btn btn-success" id="bt_print" type="button"><i class="icon-print icon-white"></i> Imprimir</button>
		<button class="btn btn-warning" id="bt_edit" type="button"><i class="icon-pencil icon-white"></i> Editar</button>
      </form>
<!-- END BLOCK_ENVIO_EMAIL -->
<!-- BEGIN BLOCK_PADRAO -->
<h5><center>CONTRATO PARTICULAR DE PRESTAÇÃO DE SERVIÇOS DE VIAGENS E TURISMO</center></h5><br />
<p class="paragrafo">Pelo presente instrumento de contrato, as partes abaixo qualificadas, têm justas e contratadas a Prestação de Serviços de Viagem e Turismo, em conformidade com as seguintes cláusulas.</p>
<p class="paragrafo">
1. Cláusula Primeira: <strong>{nomeCompleto}</strong>,(<strong>{nacionalidade}</strong><span class="GramE">)</span>, (<strong>{estado_civil}</strong>),  portador da Cédula de Identidade n°  <strong>{rg} - {rgOrgaoExpedidor}</strong> e do CPF n° <strong>{cpf}</strong> residente e domiciliado á <strong>{endereco}</strong> Cidade de <strong>{cidade}-{uf}</strong>, doravante simplesmente denominada CONTRATANTE; e, RAINHA TOUR E VIAGENS LTDA ,  pessoa jurídica de direito privado, regularmente   inscrita no CNPJ: sob o n° 12.415.719/0001-72 , com sede na  SRTVS  QD 701  -  Edif.. Assis Chateaubriand – Bloco II – Sala 208  - Asa Sul  -  Brasília – DF  PE, doravante simplesmente denominada CONTRATADA.</p>
<h5>2. Cláusula segunda: DO OBJETO</h5>
<p class="paragrafo">
2.1. A CONTRATADA prestará ao CONTRATANTE os serviços que envolvem a venda de pacote turístico abaixo descrito, cujas características e valores estão explicitados no roteiro, que fará parte integrante deste contrato.
 <br />
( X ) Pacote Turístico Nacional</p>
<h5>3. Cláusula terceira: RESPONSABILIDADE DA CONTRATADA</h5>
<p class="paragrafo">
3.1 A CONTRATADA atua como intermediária entre o CONTRATANTE e as Operadoras de Turismo responsáveis pela elaboração e organização do roteiro da viagem contratada e os Prestadores de Serviços tais como: empresas de transporte aéreo, marítimo, rodoviário, hoteleiras, restaurantes, receptivos, casas de espetáculos, autônomos e outros colaboradores que participem do roteiro.
</p><p class="paragrafo">
3.2. A CONTRATADA, como intermediária na venda do aludido pacote turístico, assume a obrigação de prestar ao CONTRATANTE, toda orientação profissional, completa e adequada, não apenas sobre a viagem em geral, mas, principalmente, abordando de forma minuciosa e esclarecedora todos os detalhes sobre os serviços contratados, inclusive os relativos a este contrato.
</p><p class="paragrafo">
3.3.Por motivos técnicos – operacionais, surgindo situações decorrentes de força maior ou caso fortuito, que impeçam o cumprimento total ou parcial da viagem contratada, a Operadora de Turismo responsável pela elaboração e organização do roteiro de viagem, poderá promover alterações que se fizerem necessárias, modificando itinerários, datas, serviços, períodos, e outros, não ficando obrigada a restituição dos valores pagos.
</p><p class="paragrafo">
3.4. A realização da viagem não estará vinculada a presença do Diretor Espiritual, não gerando assim ao CONTRATANTE que desistir, do direito ao reembolso integral da quantia paga.
</p><p class="paragrafo">
3.5. Não havendo a possibilidade, de utilização dos serviços e estabelecimentos normalmente contratados, serão substituídos, sem prévio aviso, por outros similares ou de categorias superiores, sem a obrigação de restituição de valores totais ou parciais.
</p><p class="paragrafo">
3.6. A CONTRATADA é responsável, nos limites de suas obrigações, pelo cumprimento e atendimento aos princípios do código de Defesa do consumidor e da deliberação normativa da EMBRATUR n° 161/85.
</p>
<h5>4. Cláusula Quarta – DA RESPONSABILIDADE DO CONTRATANTE</h5>
<p class="paragrafo">
4.1. O pacote total terá o valor de {CIFRAO} <u><strong>{total}</strong></u> +   TAXA DE ADESÃO DE {CIFRAO}   <u><strong>{taxaAdesao}</strong></u> (NO ATO DA INSCRIÇÃO ).  A forma de pagamento será em  até 10x ( cheque ou depósito)  .
</p><p class="paragrafo">
4.2.  Este valor é para, no mínimo, Grupo de 40 pessoas, não alcançando este numero haverá adaptação financeira.<!-- BEGIN BLOCO_TOTAL_PASSAGEM -->{totalPassagem}<!-- END BLOCO_TOTAL_PASSAGEM -->
</p>
<h5>5. Cláusula quinta: DO PAGAMENTO</h5>
<p class="paragrafo">
5.1. O CONTRATANTE é responsável pelo integral pagamento da viagem contratada, que deverá estar quitada até 30 dias antes do embarque. 
</p><p class="paragrafo">
5.2. As taxas alfandegárias, aeroviárias, portuárias, serviços de lavanderia, bebidas, telefonemas, gorjetas, passeios opcionais, guia fora da programação oficial, refeições, vistos, taxas e ingressos para parques, museus, igrejas, casas de espetáculos e demais despesas não previstas no contrato  são de inteira responsabilidade do CONTRATANTE.
</p>
<h5 >6. Cláusula sexta: DOS HORÁRIOS E NORMAS</h5>
<p class="paragrafo" >
6.1. O CONTRATANTE deverá observar e obedecer aos horários determinados pelas empresas de transporte para os embarques , obrigando-se a respeitar as condições de comportamento e segurança determinados pelas mesmas, bem como as normas de funcionamento interno nos estabelecimento dos prestadores de serviços contratados.
</p>
<h5 >7. Cláusula sétima: Da Bagagem</h5>
<p class="paragrafo">
O CONTRATANTE fica sujeito ao limite de peso e quantidade de bagagens estabelecidas pelas empresas de transportes. As bagagens deverão estar devidamente identificadas. Tanto a bagagem como os demais artigos pessoais do CONTRATANTE não fazem parte deste contrato de viagem; entendendo-se para todos os efeitos que a bagagem é pessoal, independendo onde esteja alojada, que o CONTRATANTE transporte por sua conta e risco sem que a CONTRATADA seja obrigada a responder contratualmente por extravio, furto, roubo ou danos que possam ocorrer durante a viagem, independendo da causa, incluída a manipulação em traslados hotel/ônibus ou vice e versa quando exista. É aconselhável que o CONTRATANTE faça seguro particular para cobertura da viagem quando não estiver incluído no pacote vendido.
</p>
<h5 class="quebraLinha">8. Cláusula oitava: CANCELAMENTO, SUBSTITUIÇAO OU ABANDONO DA VIAGEM</h5>
<p class="paragrafo">
8.1. O CONTRATANTE poderá solicitar o cancelamento da viagem devendo fazê-lo por escrito, e terá direito a reembolso dos seguintes valores pagos (sendo o prazo para devolução de até 30dias):
-	Comunicação com 30 dias (ou mais) de antecedência da data da viagem, reembolso de 100% do valor pago;
-	Comunicação com 21 a 29 dias de antecedência da data da viagem, reembolso de 90% 
-	Comunicação entre 11 a 20 dias de antecedência: reembolso de 70% do valor pago, 
-	Comunicação com 10 dias ou menos dias de antecedência: reembolso de 50% do valor pago.
</p><p class="paragrafo">
8.2. O CONTRATANTE poderá também solicitar, por escrito, substituição de passageiro para a viagem, com antecedência mínima de 30 dias da data de embarque, arcando com os custos de taxas, multas e demais despesas operacionais decorrentes da substituição, como também dependerá da disponibilidade do aéreo e terrestre para o mesmo. O passageiro substituto deverá ser identificado e manter as mesmas condições contratadas e os regulamentos das empresas prestadoras dos serviços, através de Termo de Ratificação, além de ter que pagar nova taxa de adesão. 
</p><p class="paragrafo">
8.3. O CONTRATANTE que não aparecer para os embarques, abandonar, não estar documentado ou desistir da viagem depois de iniciada, durante sua execução, ou ainda, modificar unilateralmente as condições contratadas, assumirá todas as despesas ocorridas, ficando a CONTRATADA e as empresas prestadoras de serviços isentas de conceder reembolsos ou compensações pelos serviços não utilizado, implicando também na perda total do valor contratado se for o caso.
</p><p class="paragrafo">
8.4. A CONTRATADA não se responsabiliza pela conduta moral do CONTRATANTE, e poderá desligar do grupo de viagem o passageiro que prejudicar ou interferir no desenvolvimento e a realização dos serviços contratados, sem obrigações de devolução ou reembolso de valores pagos e não se responsabiliza pelo desligamento de forma voluntária do menor de idade, da programação, objeto deste contrato. 
</p>
<h5>9. Cláusula nona: CASOS FORTUITOS OU FORÇA MAIOR</h5>
<p class="paragrafo">
9.1. Por motivos de força maior e caso fortuito, tais como, atrasos ou cancelamentos de trajetos rodoviários, aéreos e/ou marítimos, problemas técnicos, mecânicos, meteorológicos, fechamento de aeroportos, interrupções de estradas, decisões governamentais, interdições oriundas do poder público, greves, guerras, fenômenos naturais e outros, que possam prolongar, reduzir ou cancelar a viagem, todas as despesas adicionais são de responsabilidade do CONTRATANTE ficando a CONTRATADA isenta e desobrigada a proceder pagamentos, reembolsos ou devoluções de valores totais ou parciais.
</p>
<h5>10. Cláusula décima: DOCUMENTAÇÃO</h5>
<p class="paragrafo">
10.1. Os documentos pessoais necessários para as viagens nacionais e internacionais são de responsabilidade do CONTRATANTE, que deverá observar as exigências das autoridades competentes, tais como: carteira de identidade original, além de documentação especial para menores:
Menores de 12 anos em viagens nacionais:
Quando desacompanhado de um ou ambos os pais: apresentar autorização judicial expedida pelo juizado de menores.
      Todos os documentos deverão ser apresentados à CONTRATADA no prazo mínimo de 30 dias antes da data de embarque, para serem vistoriados.
</p>
<h5>11. Cláusula décima primeira: DESCONTENTAMENTOS E RECLAMAÇÕES</h5>
<p class="paragrafo">
11.1. Em caso de qualquer reclamação ou descontentamento , o CONTRATANTE deverá fazê-la à CONTRATADA por escrito, entregando-a mediante protocolo com recibo, no prazo de 30 dias a contar do término da viagem, e após este período, os serviços prestados serão considerados perfeitos e acabados.
</p>
<p class="paragrafo">
11.2. Não será reconhecida a reclamação que não preencha as prerrogativas relacionadas na Lei 8.078/90 ou faça uso de meios não idôneos, tais como a publicidade negativa, onde então será apurada a responsabilidade civil e penal do CONTRATANTE.
</p>
<h5 >13. Cláusula décima terceira: CONSIDERAÇÕES FINAIS</h5>
<p class="paragrafo">
13.1. Fica eleito o foro da comarca de Brasília/DF, com renúncia a qualquer outro, por mais privilegiado que seja, para dirimir dúvidas e litígios oriundos do presente contrato.
</p><p class="paragrafo">
13.2. Para fins de direito, o CONTRATANTE responsabiliza-se pela veracidade das informações cadastrais por ele fornecido à CONTRATADA.
</p><p class="paragrafo">
13.3. As partes declaram que leram, entenderam, concordam e aceitam todos os itens constantes deste contrato, fazendo parte deste as condições específicas descritas no roteiro utilizado para a compra do pacote turístico.
</p><p class="paragrafo">
13.4. E por estarem justas e contratadas, assinam este Contrato em 2 (duas) vias de igual teor, na presença das testemunhas abaixo.
</p>
<p>BRASILIA-DF,_____ de ______________________ de __________<br />
  <br />
</p>
<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" valign="top"><h5>CONTRATANTE:</h5>
	<br /><br /><br /><br />____________________________________________<br />
	{nomeCompleto}
</td>
    <td valign="top"><h5>CONTRATADA:</h5>
	<img src="img/assinaturaFranklin.jpg" width="300" style="margin-top:20px;"/>
  </tr>
</table>
</div>
<br />
<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><h5>TESTEMUNHAS:</h5></td>
    <td></td>
  </tr>
  <tr>
    <td width="50%"><BR />____________________________________________<BR />Nome:<br />RG:</td>
    <td><BR />____________________________________________<BR />Nome:<br />RG:</td>
  </tr>
</table>
</div>
<!-- END BLOCK_PADRAO -->
<!-- BEGIN BLOCK_EDITADO -->
{CONTRATO_EDITADO}
<!-- END BLOCK_EDITADO -->