<script>
    $(document).ready(function() {

        $('#cancelarparticipante').click(function() {
            document.location.href = 'participante.desistencia.php?idGrupo={ID_GRUPO_HASH}&idParticipante=' + $('#manipulacao').val();
        });

        $('#excluirparticipante').click(function() {
            document.location.href = 'participante.response.php?idGrupo={ID_GRUPO_HASH}&acao=Excluir&idParticipante=' + $('#manipulacao').val();
        });

        $('#abrirContrato').click(function() {
            window.open('{MODELO_CONTRATO}?idGrupo={ID_GRUPO_HASH}&idParticipante=' + $('#manipulacao').val() + '&valorPassagem=' + $('#valorPassagem').val());
        });
        $('#GerarContratoNuvem').click(function() {
            document.location.href = 'participante.response.php?acao=criarContratoNuvem&idGrupo={ID_GRUPO_HASH}&idParticipante=' + $('#manipulacao').val() + '&valorPassagem=' + $('#valorPassagem').val() + '&nometestemunha1=' + $('#nometestemunha1').val() + '&rgtestemunha1=' + $('#rgtestemunha1').val() + '&nometestemunha2=' + $('#nometestemunha2').val() + '&rgtestemunha2=' + $('#rgtestemunha2').val();
        });


        $('.paginar').click(function() {
            jQuery.ajax({
                type: "GET",
                url: "participante.lista.php?ajax=1&idGrupo={ID_GRUPO_HASH}&pagina=" + $('#manipulacao').val(),
                beforeSend: function() {
                    jQuery('#content').html('<p align="center">Processando...<br /><img src="img/ajax_loading_pequeno.gif" /></p>');
                },
                success: function(msg) {
                    jQuery("#content").html(msg);
                }
            });
        });
    });
</script>
<section>
    <h2>{NOME_GRUPO}</h2>
    <h1>Participantes<br/><small>Lista dos participantes do Grupo:</small></h1>
    <form class="well form-search" action="participante.lista.php">
        <input type="text" class="input-medium search-query" name="busca" />
        <input type="hidden" name="idGrupo" id="idGrupo" value="{ID_GRUPO_HASH}" />
        <button class="btn" type="submit">Procurar</button>
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="50">Status</th>
                <th class="yellow">CPF</th>
                <th class="yellow">Data Inscr.</th>
                <th class="yellow">Nome</th>
                <th class="yellow">Opcional</th>
                <th class="yellow">Pago {CIFRAO}</th>
                <th class="yellow">Situação</th>
                <th class="yellow" width="140">Opções</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN BLOCK_ITEM_LISTA -->
            <tr>
                <td><i class="{STATUS_ABAT}" title="Status do Abatimento"></i></td>
                <td>{CPF}</td>
                <td>{DT_INSCR}</td>
                <td><a href="cadastro.clienteEdita.php?idCliente={ID_CLIENTE_HASH}">{NOME}</a></td>
                <td>{OPCIONAL}</td>
                <td title="{RESTA}">{PAGO}</td>
                <td>{SITUACAO}</td>
                <td align="center">
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ações <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- BEGIN BLOCK_ACTIONS -->
                            <li><a href="participante.edita.php?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}" title="Editar Valores do Participante">Editar</a></li>
                            <li><a href="participante.pagamentos.php?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}" title="Pagamentos">Pagamentos</a></li>
                            <li><a href="participante.distribuicao.php?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}" title="Distribuir em Quartos">Distribuir</a></li>
                            <li><a title="Imprimir Contrato" data-toggle="modal" href="#myModalContrato" onclick="document.getElementById('manipulacao').value = '{ID_HASH}';">Imprimir Contrato</a></li>
                            <!-- BEGIN BLOCK_CONTRATO_NUVEM -->
                            <li><a title="Contrato na nuvem" href="{URL_CONTRATO}" target="_blank">Baixar Contrato da Nuvem</a></li>
                            <!-- END BLOCK_CONTRATO_NUVEM -->
                            <!-- BEGIN BLOCK_GERAR_CONTRATO_NUVEM -->
                            <li><a title="Gerar contrato na nuvem" data-toggle="modal" href="#myModalContratoNuvem" onclick="document.getElementById('manipulacao').value = '{ID_HASH}';">Gerar Contrato na Nuvem</a></li>
                            <!-- END BLOCK_GERAR_CONTRATO_NUVEM -->
                            <li><a href="participante.editaSeguro.php?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}" title="Seguro e Tickets">Seguro e Tickets</a></li>
                            <li><a href="{MODELO_FICHA}?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}" title="Ficha de Inscrição" target="_blank">Ficha de Inscrição</a></li>
                            <li><a title="Cancelar Participação" data-toggle="modal" href="#myModal" onclick="document.getElementById('manipulacao').value = '{ID_HASH}';">Cancelar Participação</a></li>
                            <li><a title="Excluir Definitivamente" data-toggle="modal" href="#myModalExcluir" onclick="document.getElementById('manipulacao').value = '{ID_HASH}';">Excluir Definitivamente</a></li>
                            <!-- END BLOCK_ACTIONS -->
                            <!-- BEGIN BLOCK_REATIVAR -->
                            <li><a title="Reativar" href="participante.response.php?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}&acao=Reativar">Reativar</a></li>
                            <li><a title="Excluir Definitivamente" href="participante.response.php?idParticipante={ID_HASH}&idGrupo={ID_GRUPO_HASH}&acao=Excluir">Excluir</a></li>
                            <!-- END BLOCK_REATIVAR -->
                        </ul>
                    </div>
                    <div class="btn-group">

                    </div>

                </td>
            </tr>
            <!-- END BLOCK_ITEM_LISTA -->
        </tbody>
    </table>
</section>
<!-- BEGIN BLOCK_PAGINACAO -->
<section>
    <ul class="pager">
        <li class="previous">
            <a href="#" class="paginar" onclick="document.getElementById('manipulacao').value = '{PAGINA_ANTERIOR}';">&larr; Anterior</a>
        </li>
        <li>Página <input type="text" class="span1" name="pagina" id="pagina" value="{PAGINA}" onchange="document.getElementById('manipulacao').value = this.value" />
            <a href="#" class="paginar">Ir</a> Total de Páginas: {TOTAL_PAGINAS}</li>
        <li class="next">
            <a href="#" class="paginar" onclick="document.getElementById('manipulacao').value = '{PROXIMA_PAGINA}';">Próxima &rarr;</a>
        </li>
    </ul>
</section>
<!-- END BLOCK_PAGINACAO -->
<section>
    <a class="btn btn-small btn-primary" href="participante.novo.php?idGrupo={ID_GRUPO_HASH}">
        <i class="icon-user icon-white"></i> Novo participante</a> <button class="btn btn-small" id="bt_voltar">Voltar</button>
</section>
<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Aviso de Cancelamento</h3>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja cancelar esse participante?</p>
    </div>
    <div class="modal-footer">
        <a data-toggle="modal" href="#myModal" class="btn">Cancelar</a>
        <a href="#" class="btn btn-primary" id="cancelarparticipante">Confirmar</a>
    </div>
</div>

<div class="modal hide fade" id="myModalExcluir">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Aviso de Exclusão</h3>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja excluir definitivamente esse participante?</p>
    </div>
    <div class="modal-footer">
        <a data-toggle="modal" href="#myModalExcluir" class="btn">Cancelar</a>
        <a href="#" class="btn btn-primary" id="excluirparticipante">Confirmar</a>
    </div>
</div>

<div class="modal hide fade" id="myModalContrato">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Abrir Contrato</h3>
    </div>
    <div class="modal-body">
        <p>Valor das Passagens:<br />
            <input type="text" id="valorPassagem" class="input-xlarge span2" name="valorPassagem" value="" placeholder="Valor das Passagens" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
        </p>
    </div>
    <div class="modal-footer">
        <a data-toggle="modal" href="#myModalContrato" class="btn">Cancelar</a>
        <a data-toggle="modal" href="#myModalContrato" class="btn btn-primary" id="abrirContrato">Confirmar</a>
    </div>
</div>
<div class="modal hide fade" id="myModalContratoNuvem">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Gerar Contrato em nuvem</h3>
    </div>
    <div class="modal-body">
        <p>Valor das Passagens:<br />
            <input type="text" id="valorPassagem" class="input-xlarge span2" name="valorPassagem" value="" placeholder="Valor das Passagens" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
        </p>
        <p>Nome Primeira Testemunha:<br />
            <input type="text" id="nometestemunha1" class="input-xlarge span6" name="nometestemunha1" value="" placeholder="Nome da primeira testemunha">
        </p>
        <p>RG Primeira Testemunha:<br />
            <input type="text" id="rgtestemunha1" class="input-xlarge span6" name="rgtestemunha1" value="" placeholder="RG da primeira testemunha">
        </p>
        <p>Nome Segunda Testemunha:<br />
            <input type="text" id="nometestemunha2" class="input-xlarge span6" name="nometestemunha2" value="" placeholder="Nome da segunda testemunha">
        </p>
        <p>RG Segunda Testemunha:<br />
            <input type="text" id="rgtestemunha2" class="input-xlarge span6" name="rgtestemunha2" value="" placeholder="RG da segunda testemunha">
        </p>
    </div>
    <div class="modal-footer">
        <a data-toggle="modal" href="#myModalContratoNuvem" class="btn">Cancelar</a>
        <a data-toggle="modal" href="#myModalContratoNuvem" class="btn btn-primary" id="GerarContratoNuvem">Confirmar</a>
    </div>
</div>