<form class="well form-search" action="relatorio.listaCamisetaPrint.php" id="frmEmail" method="post">      
<input type="button" value="Imprimir" onclick="window.print();" />
      </form>
<!-- BEGIN BLOCK_FOLHA -->
<div class="folha clearfix quebra">
	<!-- BEGIN BLOCK_CRACHA -->
	<div class="cracha">
	<div class="logo"><img src="img/logo_cracha.gif" /></div>
	<div class="brasil"><img src="img/brasil.gif" width="142" height="98" /></div>
	<div class="nome">BRASIL<br /><br />
    <font face="Baskerville Old Face">
    {NOME_CRACHA}
    </font>
    </div>
	</div>
	<!-- END BLOCK_CRACHA -->	
</div>
<!-- END BLOCK_FOLHA -->