
<section>
<h3>Lista de Participantes - {DATA_RELATORIO}</h3>
<h3>{COD_GRUPO}-{NOME_GRUPO}</h3>
<!-- BEGIN BLOCK_ENVIO_EMAIL -->
<div class="well form-search">
        <input type="hidden" name="idGrupo" value="{ID_GRUPO_HASH}"/>
		<button class="btn"   data-toggle="modal" href="#myModalEmail"><i class="icon-envelope"></i> Enviar Por Email</button>
		<button class="btn btn-success" id="bt_print" type="button"><i class="icon-print icon-white"></i> Imprimir</button>
</div>
<!-- END BLOCK_ENVIO_EMAIL -->
<div id="tabelaRelat">
<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="50">Nº</th>
            <th >Nome</th>
			<th >Restrição Alimentar</th>
            <th>Problemas de Saúde</th>			
          </tr>
        </thead>
        <tbody>
        <!-- BEGIN BLOCK_ITEM_LISTA -->
          <tr>
            <td>{NUMERO}</td>
            <td>{NOME}</td>
			<td>{ALIMENTO}</td>
			<td>{SAUDE}</td>			
          </tr>
         <!-- END BLOCK_ITEM_LISTA -->
        </tbody>
      </table>
	  </div>
</section>
