<section>
<h3>Relatório de Cartão de Crédito - {DATA_RELATORIO}</h3>
<h4>{COD_GRUPO}&nbsp;&nbsp;&nbsp;{NOME_GRUPO} - {CIFRAO_GRUPO} {VALOR_GRUPO} {MOEDA_GRUPO_PLURAL}</h4>
<!-- BEGIN BLOCK_OPCIONAL -->
<h4>{NOME_GRUPO_OPCIONAL} - {CIFRAO_GRUPO} {VALOR_GRUPO_OPCIONAL} {MOEDA_GRUPO_PLURAL}</h4>
<!-- END BLOCK_OPCIONAL -->
<form class="well form-search" action="relatorio.listaCamisetaPrint.php" id="frmEmail" method="post">      
		<button class="btn btn-success" id="bt_print" type="button"><i class="icon-print icon-white"></i> Imprimir</button>
      </form>
<table class="table table-striped table-bordered">
        <thead>
          <tr>
		    <th >Código Autorização</th>
		    <th >Número Cartão</th>		    
			<th >Participante</th>
			<th >Valor Pago R$</th>
			<th >Valor Parcela</th>
            <th width="120">Data</th>		
          </tr>
        </thead>
        <tbody>
        <!-- BEGIN BLOCK_ITEM_LISTA -->
          <tr>
            <td>{CODIGO}</td>
            <td>{NUMERO_CARTAO}</td>            
            <td>{NOME_PARTICIPANTE}</td>
			<td style="text-align:right;">{VALOR_PAGO_REAL}</td>
			<td style="text-align:right;">{VALOR_PARCELA}</td>
			<td style="text-align:right;">{DATA}</td>
          </tr>
         <!-- END BLOCK_ITEM_LISTA -->
		  <tr>
            <td colspan="2" style="text-align:right;">Totais:</td>
			<td style="text-align:right;">{TOTAL_VALOR_PAGO_REAL}</td>
			<td style="text-align:right;">&nbsp;</td>
          </tr>
        </tbody>
      </table>
</section>
