<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>E-mail Obra de Maria< DF</title>
</head>
<body style="font-size: 10; font-family: Arial, Helvetica, sans-serif;">
<table style="border:none; padding: 10px;"><tr><td>
    <img src="https://obrademariadf.com.br/admin/img/logoEmpresa.png" height="60">
</td><td>
    RAINHA TOUR E VIAGENS LTDA<br/>
CNPJ.: 12.415.719/0001-72,Centro Empresarial Assis Chateaubriand, SRTVS Qd. 701 Conj. L Bloco II Sala 208,Asa Sul – Brasília - DF <br />
brasilia@obrademaria.com.br
</td></tr>
<tr><td colspan="2" style="height: 2; background-color: brown;"></td></tr>
<tr><td colspan="2" style="padding: 10px;">
    {CONTEUDO}
</td></tr>
<tr><td colspan="2" style="height: 2; background-color: brown;"></td></tr>
<tr><td colspan="2" style="text-align: center;">
    Comunidade Obra de Maria - Rainha Tour e Viagens Ltda-ME - Tel.: (61) 3201-5116 <br/> Site: www.obrademariadf.com.br - Email: brasilia@obrademariadf.com.br
</td></tr>
</table>

</body>
</html>
